/* CUSTOM CLASSES */

@media (min-width: 1800px) {
    .container-3xl,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1470px;
    }
}

.modal-xl {
    --bs-modal-width: 1080px;
  }

.button-close {
    margin-right: -15px;
    margin-top: -10px;
}

/*GLAVNAyA*/
.baner_item{
    max-height: 500px;
}

/* BTN_CATALOG */

.btn_catalog{
    color: white;
    width: 20%;
    bottom: 10%;
    margin-left: 30px;
}


/*SCROLL ON TOP*/
.scrollToTopBtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 68px;
  
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 40px;
    right: 4%;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }


 /*MAP*/
.map{
    height: 600px;
    }


/*BANER_ARROWS*/
.baner_arrows{
    top:5% ;
    right: 2% ;
    width: auto;
}


/*DROPDPWN*/
/* ============ only desktop view ============ */
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.6s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff; }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%; left:7%;}
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:97%; transform: rotateX(0deg); left:7%;}
    .dropdown-item_header{
        text-transform: none;
        font-weight: 500;
        margin:10px 17px;
    }
    .dropdown-item{
        text-transform: none;
    }

    .navbar .dropdown-menu_2.fade-up{ top:180%; left:43%;}
	.navbar .nav-item:hover .dropdown-menu_2{ transition: .1s; opacity:1; visibility:visible; top:97%; transform: rotateX(0deg); left:43%;}
    .dropdown-item_header{
        text-transform: none;
        font-weight: 500;
        margin:10px 17px;
    }
    .dropdown-item_2{
        text-transform: none;
    }

    
.area_item{
    margin-top: -22px;
}
  

/* ============ desktop view .end// ============ */


/* NAZNACHENIE RESHETOK */
.object-fit-minicontent{
    width: 60%;
}
/* LIDERI PRODAZH */

.card_hover_shadow:hover {
    opacity: 1 !important;
    cursor: pointer !important;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(28, 27, 44, 0.562) !important;
    -moz-box-shadow: 2px 2px 30px 0px rgba(33, 31, 48, 0.507) !important;
    box-shadow: 2px 2px 30px 0px rgba(19, 19, 27, 0.555) !important;
}

/*LEFT SIDEBAR*/
.left_sidebar{
    position: sticky ;
    top: 150px;
}


.main_block{
    margin-top:-50px;
}

.shadow_item{
    -webkit-box-shadow: 0px 5px 8px -1px rgba(2, 2, 2, 0.51);
    -moz-box-shadow: 0px 5px 8px -1px rgba(2, 2, 2, 0.51);
    box-shadow: 0px 5px 8px -1px rgba(2, 2, 2, 0.51);
}


.star:hover{
 color: red;
 fill:red;
}

/* TABS */

.sort {
    color: #f5320e;
}

.sort:hover {
    color: #b52810;
}


.dots_item::marker {
    color: #f5320e;
  }


  
  .down_filter .up_filter{
    fill: #959595;
   }

  .up_filter:hover{
    cursor: pointer;
    color: red;
    fill:red;
   }
   .down_filter:hover{
    cursor: pointer;
    color: red;
    fill:red;
   }
   

   /*CARD*/

   .image_item{
    --bs-aspect-ratio: 100%;
    max-height: 265px;
  }

  .text_item{
    transition: 0s !important;
  }


   

   /*FILTER*/

   .accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
  }

  .accordion-button:hover{
    border: none;
    background-color:rgba(163, 163, 163, 0.636);
  }

.filter_item{
    cursor: pointer;
}

.form-check-input[type=radio] {
    cursor: pointer;
}



.card_border{
    border: none !important;
}


/* TABLE */
.table th,.table td{
    padding:10px;
    }

.compare_items{
    position: relative;
    vertical-align: top;
    top:80px;
}

/* DROPDOWN */

.dropdown-wrapper {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.dropdown-wrapper:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 20px;
    border-width: 10px 10px 0 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-135deg);
}

.dropdown-wrapper.is-active {
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    border-bottom: none;
}

.dropdown-wrapper.is-active:after {
    position: absolute;
    top: 22px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.dropdown-wrapper.is-active .dropdown-list {
    max-height: 1030px;
}

.dropdown-list {
    /* Size & position */
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.087);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    padding-left: 0;
}

.dropdown-list li:last-of-type a {
    border: none;
}

.dropdown-list a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
}

/* SALE ARRROW ROTATE */
/*.text-center.fs-9.fs-md-9.sort.w-100.rounded-2.active > svg{*/
/*    transform:rotate(180deg);*/
/*  }*/

/* CAROUSEL */
.carousel-indicators {
    bottom: -30px;
  }


.swiper_container {
    padding: 18px;
}

.buy_item{
    position: relative;
    margin-top: -20px;
}


/*OTZIVI*/
.arrow-prev{
    left: -100px;
}

.arrow-next{
    right: -100px;
}


/*DELIVERy*/
.arrow-prev_delivery{
    left: -130px;
}

.arrow-next_delivery{
    right: -130px;
}



/*O_CONTACTS*/
.arrow-prev_contacts{
    left: -80px;
}


.arrow-next_contacts{
    right: -80px;
}

.instal_icon{
    width: 26% !important;
    margin-top: 10px;
}
.instal_icons{
    width: 22% !important;
}

.instal_iconz{
    width: 19% !important;
}


/*POKRASKA*/
.color_item{
    opacity: 0.8;
}

/*BUTTON-CLOSE*/
.btn_close{
    background-color: rgba(0, 0, 0, 0.344);
    border: none;
    right: 10px;
}
.btn_close:hover{
    background-color: rgba(0, 0, 0, 0.776);
}
.bi-x-lg{
    color: white;
}

.btn_custom{
    margin-left: 10px !important;
}

/*MINIBANER*/
.minibaner_item{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.minibaner_item_3{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.minibaner_item_4{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.minibaner_item_6{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.minibaner_item_color{
   background-color: rgb(30, 120, 204);
   /* background-color: url("/static/img/grid-line-pattern_icon.webp"); */
}


/*SOCIAL_Icons*/
.socialicon_item{
    cursor: pointer;
}



/* VIDI RESHETKI*/

    .product-description-arch{
        padding-left: 15px;
        padding-right: 30px;  
    }

    .product-price-arch{
        padding-left: 5px;   
    }

  

    .product-description-og{
        text-align: start;
    }


    #product-gog{
        width: 70px;
}


.text_characterstic{
    margin-top: -30px ;
}

.compare_close{
    color: black;
}



/*MAP_BANER*/
.map_baner{
    background-color: rgba(255, 219, 237, 0.697);
}


/*MARKER*/
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #F5320E;
    border: 3px solid green;
}

/*SNACKBAR*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -5% !important; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 90%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  /*End of snackbar code*/


/* MEDIA QUERIES */
@media (max-width: 1200px) {
     /*OTZIVI*/
.arrow-prev{
    left: -60px;
}

.arrow-next{
    right: -60px;
}


/*DELIVERy*/
.arrow-prev_delivery{
    left: -100px;
}

.arrow-next_delivery{
    right: -100px;
}


/*STAR*/
.star{
    width: 15px !important;
  }

  
/*SNACKBAR*/

#snackbar {
    margin-left: -10% !important;
  }

}

@media (max-width: 992px) {
     /* BTN_CATALOG */
.btn_catalog{
    display: none;
}

/*BANER_ARROWS*/
.baner_arrows{
    top:5% ;
    right: 5% ;
    width: auto;
}

   /*TABS*/
   .sorting{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #959595;
 }
.sorting_border{
    border: 1px solid #959595;
    border-radius: 10px;
 }
 .sort {
    color: #959595;
}

.sort:hover {
    color: #959595;
}
.mobile_filter_button {
    background-color: #959595;
}
.mobile_filter_button:hover {
    background-color: #F5320E;
}
 .mobile_persent_button {
    margin-left: -5px !important;
    background-color: #959595;
 }

 .mobile_persent_button:hover {
    background-color:#F5320E;
}
.persent_txt{
    margin-left: -5px;
}

.filter_arrow{
    display: none !important;
}

/* VIDI RESHETKI*/

.product-description-arch{
    padding-left: 0px;
    padding-right: 0px;  
}





 /*OTZIVI*/
.arrow-prev{
    left: -50px;
}

.arrow-next{
    right: -50px;
}


/*SNACKBAR*/

#snackbar {
    margin-left: -20% !important;
  }

}


@media (max-width: 768px) {

    /*GLAVNAyA*/
.baner_item{
    max-height: 400px !important;
}


/*BANER_ARROWS*/
.baner_arrows{
    top:5% ;
    right: 2% ;
    width: auto;
}
    

           /*  POCHEMY NASHA KOMPANIYA */
           .pluses_company {
            display: none;
             }

          
          /*OTZIVI*/
.arrow-prev{
    left: -60px;
}

.arrow-next{
    right: -60px;
}


/*O_COMPANII*/
.instal_icon{
    width: 40% !important;
}
.instal_icons{
    width: 40% !important;
}

.instal_iconz{
    width: 30% !important;
}


/*DELIVERy*/
.arrow-prev_delivery{
    left: -60px;
}

.arrow-next_delivery{
    right: -60px;
}

/*SCROLL ON TOP*/
.scrollToTopBtn {
    width: 68px;
    position: fixed;
    bottom: 80px;
    right: 4%;

  }

/*MAP*/
.map{
    height: 400px;
    }

    /*FILTER*/
    
    .sort{
        white-space: pre-wrap;
    }
    
    /* SVG-icons */
.svg_heart{
    left: 95% !important;
    z-index: 20 !important;
}

.svg_chart{
    left: -90% !important;
    z-index: 20 !important;
}



/* NAZNACHENIE RESHETOK */
.object-fit-minicontent{
    width: 100%;
}

/*SWIPER*/
.swiper_container {
    padding: 0px;
}

.star{
  width: 15px !important;
}

/*PRODUCT-PRICE*/
.price_panel{
    background-color: #dfdfdf;
  }
    .panel_item{
        color: #000;
    }


    
/*SNACKBAR*/

#snackbar {
    margin-left: -30% !important;
    font-size: 15px;
  }
}


@media (max-width: 575px) {

     /*GLAVNAyA*/
.baner_item{
    max-height: 250px !important;
}


.image_item{
    --bs-aspect-ratio: 120%;
  }



    /*SCROLL ON TOP*/
.scrollToTopBtn {
    width: 58px;
    position: fixed;
    bottom: 70px;
    right: 4%;

  }

/*O_CONTACTS*/
.arrow-prev_contacts{
    left: 0px;
}


.arrow-next_contacts{
    right: 0px;
}


/*TIPI RESHETOK*/

.mini-img{
    width: 50%;
    margin-left: 25%;
}
.mini-ratio{
    height: 20px;
}


 /*    .btn_catalog{
        display: block;
        width: 100%;
        margin-top: 17%;
        
        border: 1px solid black;
        color: black;
    } */


            /*OTZIVI*/
.arrow-prev{
    left: -20px;
}

.arrow-next{
    right: -20px;
}


/*DELIVERy*/
.arrow-prev_delivery{
    left: -0px;
}

.arrow-next_delivery{
    right: -0px;
}

    .bi-caret-left-fill {
        margin-right: 0px;
        width: 120%;
         }
       
         .bi-caret-right-fill {
            margin-left: 0px;
          
            }
  /*BUTTON_CLOSE*/

            .button-close {
                margin-right: -12px;
                margin-top: -16px;
                margin-bottom: 5px;
                width: 6px;
            }

/*CARD-RATIO*/
.card-ratio{
    max-width: 300px;
}




/*MINIBANER*/
.minibaner_item{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.minibaner_item_2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.minibaner_item_2 a{
    text-decoration: none;
    text-align: center;
    color: black !important;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
}

.minibaner_item_6 a{
   text-transform: uppercase;
    text-align: center;
    color: black !important;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
}



.minibaner_item_3{
    display: none !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}


.minibaner_item_5{
    display: none !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}


/*STAR*/
.star{
    width: 10px !important;
  }

  .old_price{
    margin-top: -10px;
  }

  /*SNACKBAR*/

#snackbar {
    margin-left: -40% !important;
    font-size: 15px;
  }

  }





  @media (max-width: 450px) {



         /*GLAVNAyA*/
.baner_item{
    max-height: 120px !important;
}





    /* TABS */

.sort {
font-size: 7px !important;
}

.heart{
    width: 15px;
}
.chart{
    width: 15px;
}
#snackbar {
    margin-left: -50% !important;
    font-size: 15px;
  }
}


@media (max-width: 370px) {
/* TABS */

.sort {
font-size: 7px !important;
}

#snackbar {
    margin-left: -60% !important;
    font-size: 15px;
  }
}

.lattice-tag-title:hover {
    cursor: pointer;
}

