{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-30 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-28">
            <div>
                <div class="row gy-lg-0  gy-12">
                    <div class="col-lg-6">
                        <h1 class="display-1 fs-3xl-38 fs-xl-36 fs-lg-30 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">
                            {{category.title}} Металлические решетки на окна</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="pt-xl-7 pt-lg-4">
                            <p class="lead fs-lg-12 fs-9 mb-0" style="max-width: 28rem;">В нашем каталоге представлено
                                200+ эскизов дутых решеток на окна. Возможно изготовление решеток по вашему эскизу.</p>
                            <div class="mt-3xl-31 mt-lg-24 d-lg-block d-none">
                                <div class="hstack flex-wrap gap-20">
                                    <btn class="btn btn-outline-black btn-xxl btn-wide-xxl" data-bs-toggle="modal"
                                         data-bs-target="#modal-consultation" type="button">Консультация
                                    </btn>
                                    <btn class="btn btn-primary btn-xxl btn-wide-xxl" data-bs-toggle="modal"
                                         data-bs-target="#modal-measurement" type="button">Вызвать на замер
                                    </btn>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-20 d-lg-none d-block">
                    <div class="vstack flex-wrap gap-10">
                        <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal"
                             data-bs-target="#modal-consultation" type="button">Консультация
                        </btn>
                        <btn class="btn btn-outline-black btn-xxl w-100" data-bs-toggle="modal"
                             data-bs-target="#modal-measurement" type="button">Вызвать на замер
                        </btn>
                    </div>
                </div>
                <nav class="d-lg-block d-none fs-9 mt-12">
                    <ul class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{%url 'index'%}">Главная </a></li>
                        <li class="breadcrumb-item"><a href="{%url 'catalog'%}">Каталог</a></li>
                        <li class="breadcrumb-item active">Дутые решетки на окна</li>
                    </ul>
                </nav>
                <hr class="opacity-100 mt-lg-18 mt-30 mb-0"/>
            </div>
            <div class="d-lg-none d-block">
                <nav class="border-top border-bottom border-light mb-17 py-5">
                    <ul class="breadcrumb fs-6 mb-0">
                        <li class="breadcrumb-item"><a href="{%url 'index'%}">Главная </a></li>
                        <li class="breadcrumb-item"><a href="{%url 'catalog'%}">Каталог</a></li>
                        <li class="breadcrumb-item active">Эскиз № 1-1</li>
                    </ul>
                </nav>
                <h1 class="fs-13 ls-sm text-uppercase mb-0">Решетка на окно Эскиз № 1-1 </h1><span
                    class="d-block fs-8 fw-medium text-muted ls-sm text-uppercase mt-6">Цена: от 2900 руб     </span>
            </div>
        </header>
        <main>
            <section class="mb-lg-50 mb-30">
                <h2 class="d-lg-none d-block fs-13 ls-sm text-uppercase mb-17-5">Каталог:</h2>
                <div class="row row-cols-lg-4 row-cols-2 gy-lg-20 gy-10 mb-lg-30 mb-10">
                    <div class="col"><a
                            class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20 py-lg-16 px-10 py-4"
                            href="{% url 'catalog-category' 'svarka' %}">
                        <h3 class="w-50 h5 fs-lg-13 fs-7 fw-medium ls-sm text-uppercase mb-0">Сварные решетки</h3><span
                            class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2"
                            style="min-width: 3rem;">201</span></a></div>
                    <div class="col"><a
                            class="d-flex bg-hover-light 'text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20 py-lg-16 px-10 py-4"
                            href="{% url 'catalog-category' 'ajur' %}">
                        <h3 class="w-50 h5 fs-lg-13 fs-7 fw-medium ls-sm text-uppercase mb-0">Ажурные решетки</h3><span
                            class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2"
                            style="min-width: 3rem;">201</span></a></div>
                    <div class="col"><a
                            class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20 py-lg-16 px-10 py-4"
                            href="{% url 'catalog-category' 'kovka' %}">
                        <h3 class="w-50 h5 fs-lg-13 fs-7 fw-medium ls-sm text-uppercase mb-0">Кованные решетки</h3><span
                            class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2"
                            style="min-width: 3rem;">201</span></a></div>
                    <div class="col"><a
                            class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20 py-lg-16 px-10 py-4"
                            href="{% url 'catalog-category' 'vip' %}">
                        <h3 class="w-50 h5 fs-lg-13 fs-7 fw-medium ls-sm text-uppercase mb-0">VIP решетки</h3><span
                            class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2"
                            style="min-width: 3rem;">201</span></a></div>
                </div>
                <div class="row gy-lg-0 gy-20">
                    <div class="col-lg-3">
                        <div class="accordion d-block">
                            <div class="accordion-item border-0">
                                <div class="accordion-header d-lg-none d-block">
                                    <button class="accordion-button justify-content-center fs-9 bg-transparent text-muted border border-light rounded-2 shadow-none px-10 py-8 collapsed"
                                            data-bs-toggle="collapse" data-bs-target="#catalog-filter" type="button">
                                        Фильтр по параметрам
                                    </button>
                                </div>
                                <div class="accordion-collapse collapse d-lg-block mt-lg-0 mt-5" id="catalog-filter">
                                    <div class="accordion-body p-0">
                                        <div class="border-top-lg border-lg-0 border border-light rounded-lg-0 rounded-2 p-lg-0 p-10 pt-lg-18">
                                            <h5 class="d-lg-block d-none fs-12 fw-medium ls-sm text-uppercase mb-12-5">
                                                Фильтр</h5>
                                            <div class="mb-18">
                                                <div class="row gy-10 mb-20">
                                                    <div class="col-6">
                                                        <input class="form-control text-center text-uppercase"
                                                               id="price-min" placeholder="2 900 руб" type="text"/>
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control text-center text-uppercase"
                                                               id="price-max" placeholder="122 900 руб" type="text"/>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div id="price-range"></div>
                                                </div>
                                            </div>
                                            <div class="mb-lg-28 mb-18">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Сортировать</h6>
                                                <select class="form-select form-select-lg rounded-2">
                                                    <option selected="selected">Популярные</option>
                                                </select>
                                            </div>
                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Тип решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-type-1"
                                                               name="filter-type" autocomplete="off" type="radio"
                                                               checked="checked"/>
                                                        <label class="form-check-label" for="filter-type-1">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-type-2"
                                                               name="filter-type" autocomplete="off" type="radio"
                                                               checked="checked"/>
                                                        <label class="form-check-label" for="filter-type-2">Сварные
                                                            решетки </label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-type-3"
                                                               name="filter-type" autocomplete="off" type="radio"
                                                               checked="checked"/>
                                                        <label class="form-check-label" for="filter-type-3">Кованые
                                                            решетки</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Категория решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-1"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-1">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-2"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-2">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-3"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-3">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-4"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-4">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-5"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-5">Дутые
                                                            решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-category-6"
                                                               name="filter-category" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-category-6">Дутые
                                                            решетки</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Класс решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-class-1"
                                                               name="filter-class" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-class-1">Эконом
                                                            класс</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-class-2"
                                                               name="filter-class" autocomplete="off" type="radio"/>
                                                        <label class="form-check-label" for="filter-class-2">Эксклюзивные</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-class-3"
                                                               name="filter-class" autocomplete="off" type="radio"
                                                               checked="checked"/>
                                                        <label class="form-check-label" for="filter-class-3">VIP
                                                            класс</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Тип открывания</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-opening-type-1"
                                                               name="filter-opening-type" autocomplete="off"
                                                               type="radio" checked="checked"/>
                                                        <label class="form-check-label" for="filter-opening-type-1">Без
                                                            открывания</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-opening-type-2"
                                                               name="filter-opening-type" autocomplete="off"
                                                               type="radio"/>
                                                        <label class="form-check-label" for="filter-opening-type-2">С
                                                            одной створкой</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-opening-type-3"
                                                               name="filter-opening-type" autocomplete="off"
                                                               type="radio"/>
                                                        <label class="form-check-label" for="filter-opening-type-3">С
                                                            двумя створками</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-top border-light mt-lg-28 mt-20 pt-lg-18 pt-9">
                                                <div class="hstack flex-row-lg flex-column align-items-start flex-wrap row-gap-lg-8 row-gap-6 column-gap-lg-12 fs-lg-10 fs-7 ls-sm">
                                                    <a class="text-muted text-hover-black text-decoration-none"
                                                       href="#"> <span class="d-inline-flex align-items-center">Дутые решетки
                                  <svg class="svg-icon ms-8" style="width: .5rem; height: .5rem;">
                                    <use href="img/sprite_icons.svg#cross">                       </use>
                                  </svg></span></a><a class="text-muted text-hover-black text-decoration-none" href="#"><span
                                                        class="d-inline-flex align-items-center">Без открывания
                                  <svg class="svg-icon ms-8" style="width: .5rem; height: .5rem;">
                                    <use href="img/sprite_icons.svg#cross">                  </use>
                                  </svg></span></a><a class="text-muted text-hover-black text-decoration-none" href="#"><span
                                                        class="d-inline-flex align-items-center">VIP класс
                                  <svg class="svg-icon ms-8" style="width: .5rem; height: .5rem;">
                                    <use href="img/sprite_icons.svg#cross">                  </use>
                                  </svg></span></a></div>
                                                <div class="mt-15">
                                                    <div class="vstack gap-5">
                                                        <button class="btn btn-outline-black btn-lg btn-wide-xl d-lg-none d-block w-lg-auto w-100"
                                                                type="button">Применить фильтр
                                                        </button>
                                                        <button class="btn btn-outline-light btn-lg btn-wide-xl w-lg-auto w-100"
                                                                type="button">Очистить фильтр
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="col-lg-9">

                        <div class="row row-cols-lg-3 row-cols-1 gy-20">
                        {% for item in products %}
                            {% include 'main/components/catalog_category_item.html' with name=item.name price=item.price_b2c %}
                        {% endfor %}


                        </div>

                        <nav class="mt-lg-30 mt-20">
                            <ol class="pagination justify-content-lg-center overflow-x-auto mb-0">
                                <li class="page-item previous"><a class="page-link" href="#">Назад</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">8</a></li>
                                <li class="page-item"><a class="page-link" href="#">9 </a></li>
                                <li class="page-item next"><a class="page-link" href="#">Вперед </a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </section>

            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/reasons.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

            {% include 'main/components/product_quick_view.html' %}
        </main>
    </div>
</div>
{% endblock %}