{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="pt-lg-30 pt-16 pb-lg-50 pb-32">
        <div class="container">
            <header class="page-header mb-lg-0 mb-28">
                <div>
                    <div class=" d-lg-none">
                        <div class="pt-xl-7 pt-lg-4">
                            <p class="lead fs-lg-12 fs-9 mb-0" style="max-width: 28rem;">В нашем каталоге представлено 600+ эскизов решеток на окна. Возможно изготовление решеток по вашему эскизу.</p>
                            <div class="mt-3xl-31 mt-lg-24 d-lg-block d-none">
                                <div class="hstack flex-wrap gap-20">
                                    <btn class="btn btn-secondary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                                    <btn class="btn btn-primary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-20 d-lg-none d-block">
                    <div class="vstack flex-wrap gap-10">
                        <btn class="btn btn-secondary  btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                        <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                    </div>
                </div>



                <div class="row gy-lg-0  gy-12">
                    <div class="col-lg-5">
                        <h1 class="display-1 mt-20 fs-3xl-25 fs-xl-30 fs-lg-27 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Каталог металлических решеток на окна </h1>
                    </div>
                    <div class="col-lg-7">
                        <a href=""><img class="w-100" src="{% static 'main/img/sale.png' %}" alt="Акция 3 по цене 2"></a>

                    </div>

                </div>
            </header>
            <main>
                <section class="mb-lg-0 mb-25">
                    <div class="row align-items-end mb-lg-26 mb-17">
                        <div class="col-xl-4 col-lg-5">
                        </div>

                    </div>
                    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 gy-20">
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Решетки на окна эконом класса"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 12.5rem;">Решетки на окна эконом класса</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Дутые оконные решетки эконом класса"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0">Дутые оконные
                                        решетки эконом класса</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Ажурные решетки на окна"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 10rem;">Ажурные решетки на окна</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Дутые ажурные решетки"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 10rem;">Дутые ажурные решетки</h5>
                                </div>
                            </div>
                        </a></div>
                    </div>
                    <div class="d-lg-none d-block text-center mt-17-5"><a
                            class="fs-10 text-decoration-none text-uppercase"
                            href="{% url 'catalog-category' 'svarka' %}">Смотреть все
                        ↘︎ </a>
                    </div>
                </section>
                <section class="mb-lg-25 mb-25">
                    <div class="row align-items-end mb-lg-26 mb-17">
                        <div class="col-xl-4 col-lg-5">
                        </div>

                    </div>
                    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 gy-20">
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Решетки на окна VIP класса"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 10rem;">Решетки на окна VIP класса</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Дутые решетки VIP класса"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 10rem;">Дутые решетки VIP класса</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Эксклюзивные решетки на окна"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0"
                                        style="max-width: 10rem;">Эксклюзивные решетки на окна</h5>
                                </div>
                            </div>
                        </a></div>
                        <div class="col"><a class="card h-100 border-0 rounded-4 text-hover-primary shadow-lg" href="#">
                            <div class="card-body pb-15">
                                <div class="ratio mb-lg-32-5 mb-18"
                                     style="--bs-aspect-ratio: 110%; min-height: 240px; max-height: 320px;"><img
                                        class="object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                                        alt="Дутые эксклюзивные решетки"></div>
                                <div class="d-flex">
                                    <h5 class="card-title h6 fs-8 fw-medium ls-sm text-uppercase mb-0">Дутые
                                        эксклюзивные
                                        решетки</h5>
                                </div>
                            </div>
                        </a></div>
                    </div>

                    <div class="d-lg-none d-block text-center mt-17-5"><a
                            class="fs-10 text-decoration-none text-uppercase"
                            href="{% url 'catalog-category' 'svarka' %}">Смотреть все
                        ↘︎ </a>
                    </div>
                </section>
                
                {% include 'main/components/lattice_tags.html' with list_of_grids_types=list_of_grids_types  %}

                <section class="mb-lg-50 mb-28">
                    <div class="row mt-10 row-cols-lg-4 row-cols-1 gy-20">
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                {% include 'main/components/catalog_category_item.html' %}
                
                {% include 'main/components/product_quick_view.html' %}
                
                </div>
                <div class="text-center mt-lg-20 mt-10"><a class="btn btn-outline-secondary btn-xxl btn-wide-xxl"
                    href="#">Показать еще </a></div>
                </section>

                {% include 'main/components/consultation_form.html' %}

                {% include 'main/components/consultation_modal.html' %}

                {% include 'main/components/measure_modal.html' %}

                {% include 'main/components/reasons.html' %}

            </main>
          
        </div>
    </div>
{% endblock %}