{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-15 pt-16 pb-lg-20 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-28">
            <div>

                <div class="row gy-lg-0  gy-12">

                    <div class="col-lg-6">
                        <h1 class="display-1 fs-3xl-25 fs-xl-23 fs-lg-27 fs-13 fw-normal ls-sm text-uppercase mb-20 pe-lg-8">
                            {{category.title}} Сравнения товаров</h1>
                    </div>

                    <nav class="d-lg-block d-none fs-9 mt-lg-0 mt-12">
                        <ul class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="index.html">Главная </a></li>
                            <li class="breadcrumb-item active">Сравнения товаров</li>
                        </ul>
                    </nav>

                </div>
        </header>


        <section>
            <div style="overflow-x: auto ">
                {%if products|length %}
                    <table class="table table-fixed table-bordered" style="white-space: nowrap">
                    <!--Table head-->
                    <thead>
                    <tr class="text-center fs-7 ">
                        <th class="align-items-center compare_items"><span class="fs-14 mb-20 ">Товары</span></th>

                        {%for item in products%}
                        <th>
                            {% include 'main/components/catalog_category_item.html' with PriceWinguardSketchId=item.id price=item.price path_folder=item.path_folder path_file=item.path_file percent=item.percent saleprice=item.saleprice%}
                        </th>
                        {%endfor%}
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr class="text-center fs-7">
                        <th scope="row ">Цена со скидкой</th>
                        {%for item in products%}
                        <th>
                            {{item.price}} руб
                        </th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row ">Покраска (не требуется)</th>
                        {%for item in products%}
                        <th>+0 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (эмаль НЦ)</th>
                        {%for item in products%}
                        <th>+550 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (эмаль ХВ)</th>
                        {%for item in products%}
                        <th>+650 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (краска Hammerite)</th>
                        {%for item in products%}
                        <th>+1 400 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (порошковое нап.)</th>
                        {%for item in products%}
                        <th>+1 700 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (эмаль Westplast)</th>
                        {%for item in products%}
                        <th>+1 900 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Покраска (эмаль NOVAX)</th>
                        {%for item in products%}
                        <th>+1 200 р. м²</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Тип открывания (глухая)</th>
                        {%for item in products%}
                        <th>+0 р. / шт.</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Тип открывания (распашная)</th>
                        {%for item in products%}
                        <th>+1 500 р. / шт.</th>
                        {%endfor%}

                    </tr>

                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 6 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.0.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 8 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.1.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 10 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.2.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 12 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.3.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 14 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.4.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    <tr class="text-center fs-7">
                        <th scope="row">Пруток 16 мм</th>
                        {%for item in products%}
                        <th>{{item.additional_info.5.price_b2c}}</th>
                        {%endfor%}

                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                {%else %}
                    <div>У вас нет товаров в "Сравнении"</div>
                {% endif %}
            </div>
        </section>

    </div>
</div>


{% include 'main/components/measure_modal.html' %}


{% include 'main/components/consultation_modal.html' %}

{% endblock %}