{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-20 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-20">
            <div>
                <h1 class="display-1 fs-3xl-25 fs-xl-30 fs-lg-27 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Наши<br> контакты</h1>
                <div class=" d-lg-none">
                    <div class="pt-xl-7 pt-lg-4">


                        <div class="mt-3xl-31 mt-lg-24 d-lg-block d-none">
                            <div class="hstack flex-wrap gap-20">
                                <btn class="btn btn-secondary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                                <btn class="btn btn-primary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 d-none ">
                <div class="vstack flex-wrap gap-10">
                    <btn class="btn btn-secondary  btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                    <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                </div>
            </div>



            <div class="row gy-lg-0  gy-12">

                <div class="col-lg-7">


                </div>

            </div>
        </header>
        <main>
            <section >
                <div class="row gy-0 gy-18">
                    <div class="col-lg-3">
                        <div class="left_sidebar">
                            <div class="mb-lg-16 mb-10">
                                <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">Адрес производства:</h6><span
                                    class="fs-7 fw-medium text-muted ls-sm text-uppercase">141640, Московская обл., Клинский р-он, д. Ясенево, д. 74, стр. 1</span>
                            </div>
                            <div class="mb-lg-16 mb-10">
                                <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">Телефон:</h6><a
                                    class="fs-7 fw-medium text-muted text-hover-primary ls-sm text-uppercase text-decoration-none"
                                    href="tel:+74953745364">+7 (495) 374-53-64</a>
                            </div>
                            <div>
                                <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">Почта:</h6><a
                                    class="fs-7 fw-medium text-muted text-hover-primary ls-sm text-uppercase text-decoration-none"
                                    href="mailto:info@stalpro.com">info@stalpro.com</a>
                            </div>
                      
                        <div class="d-lg-block d-none mt-18"><a class="btn btn-secondary btn-xl btn-wide-xxl w-100" data-bs-toggle="modal"
                            data-bs-target="#modal-consultation" type="button">скачать реквизиты</a>
                          </div>
                        <div class="d-lg-block d-none mt-10"><a class="btn btn-primary btn-xl btn-wide-xxl w-100" data-bs-toggle="modal"
                                    data-bs-target="#modal-consultation" type="button">Консультация</a>
                        </div>
                        <div class="mb-lg-16 mt-20 mb-10">
                            <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">адрес в москве:</h6><span
                                class="fs-7 fw-medium text-muted ls-sm text-uppercase">Москва, Волоколамское шоссе, 2, оф. 212</span>
                        </div>
                        <div class="mb-lg-16 mb-10">
                            <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">Телефон:</h6><a
                                class="fs-7 fw-medium text-muted text-hover-primary ls-sm text-uppercase text-decoration-none"
                                href="tel:+74953745364">+7 (495) 374-53-64</a>
                        </div>
                        <div>
                            <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3">Почта:</h6><a
                                class="fs-7 fw-medium text-muted text-hover-primary ls-sm text-uppercase text-decoration-none"
                                href="mailto:info@stalpro.com">info@stalpro.com</a>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="rounded-3 ms-2 ms-sm-10 mt-2 mt-sm-10 position-absolute px-4 z-2  map_baner">
                            <h6 class="text-uppercase pt-7 fs-7 fs-lg-10">Принимаем заказы</h6>
                            <ul>
                                <li class="pb-2 fs-6 fs-lg-8">Из Москвы</li>
                                <li class="py-2 fs-6 fs-lg-8">Из Московской области</li>
                                <li class="py-2 fs-6 fs-lg-8">Из ближайших областей</li>
                            </ul>
                        </div>
                       
                                 <!--YANDEX MAP-->
            <div class=" px-0 border rounded-3 ratio ratio-1x1 h-100">
                
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1ef0868cfb5a1c134c324e43099fc17f510c0a83dd80a53b52f866d445e4b278&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false" allowfullscreen="" loading="lazy"></script>
            </div>
        

                    </div>
                    <div class="col-lg-3">
                        <div class="left_sidebar">
                            <h6 class="h6 fw-medium ls-sm text-uppercase mb-lg-5 mb-3 text-center">Обратная связь</h6>
                            <form class="mt-10">
                                          
                                        <input class="form-control fs-8 fw-medium text-muted ls-sm py-lg-8  text-center w-100 mb-10 rounded-3"
                                               placeholder="Введите ваше имя" type="text"/>
                                 
                                  
                                        <input class="form-control fs-8 fw-medium text-muted ls-sm py-lg-8  text-center w-100 mb-10 rounded-3"
                                               placeholder="Укажите ваш телефон *" type="text"/>

                                               <input class="form-control fs-8 fw-medium text-muted ls-sm py-lg-8  text-center w-100 mb-10 rounded-3"
                                               placeholder="Укажите ваш e-mail" type="text"/>
                                 
                                  
                                        <input class="form-control fs-8 fw-medium text-muted ls-sm py-lg-20  text-center w-100 mb-10 rounded-3"
                                               placeholder="ваше сообщение" type="text"/>
                                 
                                  
                                        <button class="btn py-8 btn-primary py-lg-10 mt-2 fs-10 fs-lg-12 rounded-3 w-100 mb-10" type="submit" >Отправить сообщение
                                        </button>
                                 
                                   
                                        <div class="form-check text-center fs-6 fs-lg-8 pt-2 pb-2 ps-0">
                                            <label class="form-check-label  text-muted" >Оставляя заявку, Вы даете
                                                свое согласие на обработку <a class="text-decoration-underline text-dark text-hover-secondary"  href="{%url 'privacy'%}">персональных данных</a> </label>
                                             </div>
                            </form>
                    </div>
                    </div>
                </div>

             
            </section>

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>

<div class="pt-lg-20 pt-16 pb-lg-50 pb-32">
    <div class="container">

        <main>
            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>
{% endblock %}