{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-20 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header  mb-20">


            <div class="card text-white rounded-4">
                <img    src="{% static 'main/img/baner.webp' %}" class="card-img rounded-4" alt="baner"/>
                <div class="card-img-overlay baner_overlay" >
                    <div id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <h1 class="display-1  fs-3xl-25 fs-xl-23 fs-lg-20 fs-md-15 fs-7 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Металлические решетки <br> на окна по честным <br> ценам</h1>
                          </div>
                          <div class="carousel-item">
                            <h1 class="display-1  fs-3xl-25 fs-xl-20 fs-lg-20 fs-md-15 fs-7 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Металлические решетки <br> на окна по честным <br> ценам</h1>
                          </div>
                          <div class="carousel-item">
                            <h1 class="display-1  fs-3xl-25 fs-xl-23 fs-lg-20 fs-md-15 fs-7 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Металлические решетки <br> на окна по честным <br> ценам</h1>
                          </div>
                        </div>
                      <!--   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button> -->
                      </div>
                     <a class="btn  btn-outline-light btn-xxl btn_catalog"
                        href="/металлические-решетки-на-окна">Перейти в каталог</a>
              </div>
            </div>
            <div>

                <div class="row gy-lg-0  gy-12">
           
                <div class="mt-20 d-lg-none d-block"><a class="btn btn-outline-black btn-xxl w-100"
                                                        href="/металлические-решетки-на-окна">Перейти
                    в каталог</a>
                </div>
                
            </div> 
        </header>
        <main>
            <section class="mb-lg-20 mb-20">
                <div class="row align-items-end mb-lg-12-5 mb-16">
                    <div class="col-lg-4">
                        <h2 class="h1 fs-3xl-22  fs-lg-20 fs-13 ls-sm text-uppercase mb-0">Выберите свой тип
                            решеток</h2>
                    </div>
                    <div class="col-auto d-lg-block d-none ms-auto"><a class="fs-12 text-decoration-none text-uppercase"
                                                                       href="/металлические-решетки-на-окна">Смотреть все ↘︎</a></div>
                </div>
                <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-2 gy-lg-20 gy-10">
                    <div class="col"><a class="card border-0 rounded-lg-4 rounded-3 text-hover-primary shadow-lg"
                                        href="/решетки-на-окна-эконом-класс">
                        <div class="card-body p-5 pb-lg-16 pb-5">
                            <div class="position-relative mb-lg-0 mb-0"><span
                                    class="badge fs-5 rounded-pill border border-light position-absolute top-0 start-0 py-2 z-1"
                                    style="min-width: 1rem;">{{count.economy}}</span>
                                <div class="ratio overflow-hidden mini-ratio"
                                     style="--bs-aspect-ratio: 110%; min-height: 110px; max-height: 345px;">
                                    <img class="object-fit-contain mini-img" src="{% static 'main/img/grids_types/svarka.webp' %}"
                                         alt="Эконом решетки">
                                </div>
                            </div>
                            <div class="d-flex">
                                <h3 class="card-title w-50 fs-sm-8 fs-md-10 fs-lg-14 fs-xl-10 fs-5 fw-medium ls-sm text-uppercase mb-0">Эконом
                            решетки</h3>
                                <span class="text-primary fs-10 fw-medium ls-sm text-uppercase text-nowrap mt-auto ms-auto">
                                    <span class="fs-5 fs-sm-10">от</span><span class="fs-7 fs-sm-12 fs-md-14 fs-lg-14 fs-xl-12"> {{min_price_1}} р</span></span>
                            </div>
                        </div>
                    </a></div>
                    <div class="col"><a class="card border-0 rounded-lg-4 rounded-3 text-hover-primary shadow-lg"
                                        href="/ажурные-решетки-на-окна">
                        <div class="card-body p-5 pb-lg-16 pb-5">
                            <div class="position-relative mb-lg-0 mb-0"><span
                                    class="badge fs-5 rounded-pill border border-light position-absolute top-0 start-0 py-2 z-1"
                                    style="min-width: 1rem;">{{count.ajur}}</span>
                                <div class="ratio overflow-hidden mini-ratio"
                                     style="--bs-aspect-ratio: 110%; min-height: 110px; max-height: 345px;"><img
                                        class="object-fit-contain mini-img" src="{% static 'main/img/grids_types/ajur.webp' %}"
                                        alt="Эконом решетки">
                                </div>
                            </div>
                            <div class="d-flex">
                                <h3 class="card-title w-50 fs-sm-8 fs-md-10 fs-lg-14 fs-xl-10 fs-5  fw-medium ls-sm text-uppercase mb-0">Ажурные решетки </h3>                       
                                <span class="text-primary fs-10 fw-medium ls-sm text-uppercase text-nowrap mt-auto ms-auto">
                                    <span class="fs-5 fs-sm-10">от</span><span class="fs-7 fs-sm-12 fs-md-14 fs-lg-14 fs-xl-12"> {{min_price_2}} р</span></span>
                            </div>
                        </div>
                    </a></div>
                    <div class="col"><a class="card border-0 rounded-lg-4 rounded-3 text-hover-primary shadow-lg"
                                        href="/кованые-решетки-на-окна-вип-класс">
                        <div class="card-body p-5 pb-lg-16 pb-5">
                            <div class="position-relative  mb-lg-0 mb-0"><span
                                    class="badge fs-5 rounded-pill border border-light position-absolute top-0 start-0 py-2 z-1"
                                    style="min-width: 1rem;">{{count.vip}}</span>
                                <div class="ratio overflow-hidden mini-ratio"
                                     style="--bs-aspect-ratio: 110%; min-height: 110px; max-height: 345px;"><img
                                        class="object-fit-contain mini-img" src="{% static 'main/img/grids_types/kovka.webp' %}"
                                        alt="Эконом решетки">
                                </div>
                            </div>
                            <div class="d-flex">
                                <h3 class="card-title w-50 fs-sm-8 fs-md-10 fs-lg-14 fs-xl-10 fs-5  fw-medium ls-sm text-uppercase mb-0">VIP <br> решетки</h3>
                                <span class="text-primary fs-10 fw-medium ls-sm text-uppercase text-nowrap mt-auto ms-auto">
                                    <span class="fs-5 fs-sm-10">от</span><span class="fs-7 fs-sm-12 fs-md-14 fs-lg-14 fs-xl-12"> {{min_price_3}} р</span></span>
                            </div>
                        </div>
                    </a></div>
                    <div class="col"><a class="card border-0 rounded-lg-4 rounded-3 text-hover-primary shadow-lg"
                                        href="/эксклюзивные-кованые-решетки">
                        <div class="card-body p-5 pb-lg-16 pb-5">
                            <div class="position-relative mb-lg-0 mb-0"><span
                                    class="badge fs-5 rounded-pill border border-light position-absolute top-0 start-0 py-2 z-1"
                                    style="min-width: 1rem;">{{count.exlusive}}</span>
                                <div class="ratio overflow-hidden mini-ratio"
                                     style="--bs-aspect-ratio: 110%; min-height: 110px; max-height: 345px;"><img
                                        class="object-fit-contain mini-img" src="{% static 'main/img/grids_types/vip.webp' %}"
                                        alt="Эконом решетки">
                                </div>
                            </div>
                            <div class="d-flex">
                                <h3 class="card-title w-50 fs-sm-8 fs-md-10 fs-lg-14 fs-xl-10 fs-5  fw-medium ls-sm text-uppercase mb-0">Эксклюзив решетки</h3>
                                <span class="text-primary fs-10 fw-medium ls-sm text-uppercase text-nowrap mt-auto ms-auto">
                                    <span class="fs-5 fs-sm-10">от</span><span class="fs-7 fs-sm-12 fs-md-14 fs-lg-14 fs-xl-12"> {{min_price_4}} р</span></span>
                            </div>
                        </div>
                    </a></div>
                </div>
                <div class="d-lg-none d-block text-center mt-17-5"><a class="fs-10 text-decoration-none text-uppercase"
                                                                      href="#">Смотреть все ↘︎ </a></div>
            </section>


            <!--NAZNACHENIE RESHETOK-->

            {% include 'main/components/lattice_tags.html' with list_of_grids_types=list_of_grids_types %}

            <!--HITI PRODAZH-->
            <section class="mb-20">

                <h2 class="h1  fs-3xl-22 fs-lg-20 fs-13 ls-sm text-uppercase mb-0">Хиты продаж</h2>
                <div class="row mt-10 row-cols-lg-4 row-cols-2 gy-20">

                    {% for item in leaders_of_selling %}
                        {% if forloop.counter == 9  %}
                </div>

                        <div class="collapse" id="collapseExample">
                            <div class="row mt-0 mt-lg-5 row-cols-lg-4 row-cols-2 gy-20">
                                    {% include 'main/components/catalog_category_item.html' with PriceWinguardSketchId=item.id name=item.width price=item.price path_folder=item.path_folder path_file=item.path_file percent=item.percent saleprice=item.saleprice%}
                        {% elif forloop.counter == leaders_of_selling|length %}
                                    {% include 'main/components/catalog_category_item.html' with PriceWinguardSketchId=item.id name=item.width price=item.price path_folder=item.path_folder path_file=item.path_file percent=item.percent saleprice=item.saleprice%}
                            </div>
                        </div>
                        {% else %}
                                    {% include 'main/components/catalog_category_item.html' with PriceWinguardSketchId=item.id name=item.width price=item.price path_folder=item.path_folder path_file=item.path_file percent=item.percent saleprice=item.saleprice%}
                    {% endif %}
                    {% endfor %}

                 <div class="text-center mt-lg-20 mt-10">
                    <a class="view_more1 btn btn-outline-secondary btn-lg btn-wide-lg" data-redirect-url="решетки-на-окна-эконом-класс"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                                                           href="#">Показать еще </a>
                                                        </div>
                                                           
                


            </section>


            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/consultation_modal.html' %}


           
            <section class="mb-20">
                <div class="mb-lg-20 mb-8 mt-lg-20">
                    <div class="badge border border-secondary d-lg-inline-block d-none fs-6 text-secondary ls-sm text-uppercase mb-10 py-6" style="min-width: 12.5rem;">О компании</div>
                    <div class="row mb-16">
                        <div class="col-lg-5">
                            <h2 class="h1  fs-3xl-22 fs-lg-20 fs-13 ls-sm text-uppercase mb-0">Непрерывно работаем для
                                вас с 2010 года</h2>
                        </div>
                    </div>
                    <div class="row row-cols-lg-2 row-cols-1 fs-lg-11 fs-9 fw-light">
                        <div class="col">
                            <p>«Оконные решётки» изготавливает сварные и кованые решетки любой сложности уже 13 лет в
                                Московской области. Выбирайте готовые модели из 615 эскизов для окна, балкона,
                                кондиционера и решетки под цветы.
                                Заказать решетки можно для дома на первый этаж, доступны решетки гармошка, внутренние,
                                внешние, глухие и декоративные решетки художественной ковки.
                            </p>
                            <p>
                                Мы специализируемся на всех видах решеток для квартиры и дачи, изготовим и установим за
                                12 часов.</p>
                            <p>Цены на металлические решетки доступные, всего от ххх рублей за кв. метр с бесплатным
                                выездом специалиста для замеров. Получите быстрый расчет изделий по телефону
                                +7-495-374-53-64 или заполните форму заявки на сайте. </p>
                        </div>
                        <div class="col">
                            <p>Изготовим решетки по вашим размерам с гарантией 5 лет:</p>
                            <ul>
                                <li>Металлические изделия из высокопрочной стали в виде прутков, квадратов, полос и
                                    труб;
                                </li>
                                <li>Надежные кованые изделия из квадрата 12x12</li>
                                <li>Сварные решетки из прутков 10-12мм;</li>
                                <li>Дутые, ажурные, арочные и распашные решетки проходят 3 ступени контроля качества;
                                </li>
                                <li>Производство решеток антикошка, от выпадения детей, в подъезд и на приямки.</li>
                            </ul>
                            <p>Установка сварных решеток выполняется мастерами с опытом работы от 7 лет и техническим
                                образованием. Готовые изделия обладают прочной конструкцией, высоким качеством краски
                                для металла и конкурентной ценой, за счет своего производства.</p>
                        </div>
                    </div>
                </div>
                <div class="mb-20">
                    <h3 class="h4 fs-lg-16 fs-10 fw-normal ls-sm text-uppercase mb-lg-30 mb-20">Нам есть, чем гордиться!<br>В
                        2022 году изготовлено и установлено:</h3>
                    <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-1 gy-lg-20">
                        <div class="col mb-lg-0 mb-n20">
                            <div class="card bg-transparent rounded-circle text-center">
                                <div class="ratio ratio-1x1">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <span class="fs-24 text-primary fw-normal ls-sm">8586</span><span
                                            class="d-block fs-lg-11 fs-9 ls-sm mb-0 px-lg-40 px-30 mt-lg-8 mt-4">кв.м. решеток на окна</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-lg-0 mb-n20">
                            <div class="card bg-transparent rounded-circle text-center">
                                <div class="ratio ratio-1x1">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <span class="fs-24 text-primary fw-normal ls-sm">267</span><span
                                            class="d-block fs-lg-11 fs-9 ls-sm mb-0 px-lg-35 px-30 mt-lg-8 mt-4">кв.м. цветочниц на окна</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-lg-0 mb-n20">
                            <div class="card bg-transparent rounded-circle text-center">
                                <div class="ratio ratio-1x1">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <span class="fs-24 text-primary fw-normal ls-sm">584</span><span
                                            class="d-block fs-lg-11 fs-9 ls-sm mb-0 mt-lg-8 mt-4">тамбура закрыто сварными антивандальными конструкциями</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-transparent rounded-circle text-center">
                                <div class="ratio ratio-1x1">
                                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                        <span class="fs-24 text-primary fw-normal ls-sm">50</span><span
                                            class="d-block fs-lg-11 fs-9 ls-sm mb-0 px-lg-35 px-25 mt-lg-8 mt-4">лет срок службы изделий   </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <section>
                        <div class="row row-cols-xl-4 row-cols-2 g-lg-20 gy-10">
                            <div class="col-xl-6 col-12">
                                <div class="card h-100 border-0 text-white">
                                    <div class="d-flex gap-10 position-absolute z-2" id="team-swiper-control">
                                        <button class="btn btn-outline-white btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                                                type="button" style="width: 3rem; height: 3rem;"><-
                                        </button>
                                        <button class="btn btn-outline-white btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                                                type="button" style="width: 3rem; height: 3rem;">->
                                        </button>
                                    </div>
                                    <div class="swiper  w-100 h-100" id="team-swiper"
                                         data-control="#team-swiper-control">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="ratio h-100"
                                                     style="--bs-aspect-ratio: 60%; min-height: 200px; max-height: 460px;">
                                                    <img class="object-fit-cover rounded-lg-4 rounded-3"
                                                         src="{% static 'main/img/workers/1_img.webp' %}">
                                                    <div class="card-body d-flex flex-column justify-content-lg-end p-lg-10 px-9 py-10">
                                                        <div class="w-lg-50 h-lg-auto h-100 d-flex flex-lg-column flex-column-reverse justify-content-between">
                                                            <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-7-5 mb-0">
                                                                Производственный цех</h4><span
                                                                class="d-lg-block d-none fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">Мо, Клинский р-он, д. Ясенево, д. 74, стр. 7</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="ratio h-100"
                                                     style="--bs-aspect-ratio: 60%; min-height: 200px; max-height: 460px;">
                                                    <img class="object-fit-cover rounded-lg-4 rounded-3"
                                                         src="{% static 'main/img/workers/2_img.webp' %}">
                                                    <div class="card-body d-flex flex-column justify-content-lg-end p-lg-10 px-9 py-10">
                                                        <div class="w-lg-50 h-lg-auto h-100 d-flex flex-lg-column flex-column-reverse justify-content-between">
                                                            <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-7-5 mb-0">
                                                                Производственный цех</h4><span
                                                                class="d-lg-block d-none fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">Мо, Клинский р-он, д. Ясенево, д. 74, стр. 7</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="ratio h-100"
                                                     style="--bs-aspect-ratio: 60%; min-height: 200px; max-height: 460px;">
                                                    <img class="object-fit-cover rounded-lg-4 rounded-3"
                                                         src="{% static 'main/img/workers/3_img.webp' %}">
                                                    <div class="card-body d-flex flex-column justify-content-lg-end p-lg-10 px-9 py-10">
                                                        <div class="w-lg-50 h-lg-auto h-100 d-flex flex-lg-column flex-column-reverse justify-content-between">
                                                            <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-7-5 mb-0">
                                                                Производственный цех</h4><span
                                                                class="d-lg-block d-none fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">Мо, Клинский р-он, д. Ясенево, д. 74, стр. 7                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/ingener_1.webp' %}">
                                        <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                            <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase  mb-0">
                                                    Александр с.</h4>
                                                    <span class="d-block fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">мастер производственного цеха</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/ingener_2.webp' %}">
                                            <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                                <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-13 fs-6 fw-medium ls-sm text-uppercase mb-lg-6 mb-0">
                                                    Иван а.</h4><span
                                                    class="d-block  fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">Мастер - сметчик</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/manager_1.webp' %}">
                                            <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                                <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-6 mb-0">
                                                    Татьяна п.</h4><span
                                                    class="d-block fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">руководитель отдела продаж + 7 (495)374-53-64 info@stalpro.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/manager_2.webp' %}">
                                            <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                                <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-6 mb-0"
                                                    style="max-width: 300px;">АНАСТАСИЯ М.</h4><span
                                                    class="d-block fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">мЕНЕджер по продажам <br>+ 7 (495)374-53-64 <br> info@stalpro.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/manager_3.webp' %}">
                                            <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                                <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase  mb-0">
                                                    Анна и.</h4><span
                                                    class="d-block fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">мЕНЕджер по продажам <br>+ 7 (495)374-53-64 <br> info@stalpro.com</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 border-0 text-white">
                                    <div class="ratio h-100"
                                         style="--bs-aspect-ratio: 120%; min-height: 200px; max-height: 460px;"><img
                                            class="object-fit-cover rounded-lg-4 rounded-3"
                                            src="{% static 'main/img/workers/manager_4.webp' %}">
                                            <div class="card-body d-flex flex-column justify-content-end p-lg-10 px-9 py-10">
                                                <div class="w-75 h-lg-auto h-100 d-flex  flex-column justify-content-end">
                                                <h4 class="h5 fs-lg-12 fs-6 fw-medium ls-sm text-uppercase mb-lg-5 mb-0">
                                                    Дарья ш.</h4><span
                                                    class="d-block fs-lg-7 fs-4 fw-medium ls-sm text-uppercase">мЕНЕджер по продажам <br>+ 7 (495)374-53-64 <br> info@stalpro.com                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>

            {% include 'main/components/reasons.html' with classes='mb-20' %}

        
            <section class="cta  mb-20">
                <div class="card rounded-lg-4 rounded-3">
                    <div class="card-body pt-lg-34 pt-17-5 px-lg-40 pb-lg-35 pb-20">
                        <h3 class="card-title fs-lg-20 fs-12 fw-normal ls-sm text-uppercase mb-lg-20 mb-14"
                            style="max-width: 680px;">Закажите бесплатный выезд мастера в удобный для вас день</h3>
                        <p class="card-text lead fs-lg-12 fs-8 mb-lg-30 mb-17-5" style="max-width: 860px;">Специалист
                            приедет в удобное для вас время, проконсультирует, поможет с подбором решеток, замерит и
                            рассчитает стоимость</p>
                        <form>
                            <div class="row row-cols-lg-3 row-cols-1 gy-lg-20 gy-10">
                                <div class="col">
                                    <input class="form-control form-control-xxl text-center w-100"
                                           placeholder="Введите ваше имя" type="text"/>
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-xxl text-center"
                                           placeholder="Введите номер телефона" type="text"/>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-xxl w-100" type="submit">Заказать выезд</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="mb-20">
                <div class="row align-items-end mb-lg-30 mb-20">
                    <div class="col-lg-4">
                        <h2 class="h1  fs-3xl-22 fs-lg-26 fs-13 ls-sm text-uppercase mb-0">Выполненные работы</h2>
                    </div>
                    <div class="col-auto d-lg-block d-none ms-auto"><a class="fs-12 text-decoration-none text-uppercase"
                        href="{%url 'projects'%}">Смотреть все ↘︎</a></div>
                </div>
                <div class="row row-cols-lg-4 row-cols-2 gy-lg-20 gy-10  d-lg-flex">

                    {% for item in list_of_photos_done %}
        
                    {% include 'main/components/photo.html' with name=item.name %}
            
                    {% endfor %}

                </div>
            </section>

                <!--OTZIVI-->
           
            <section class="mb-20">
                <div class="row mb-lg-22 mb-17-5">
                    <div class="col-xl-5 col-lg-6">
                        <h2 class="h1  fs-3xl-22 fs-lg-20 fs-13 ls-sm text-uppercase mb-0">Отзывы довольных
                            клиентов</h2>
                    </div>
                </div>
                <div class="row row-cols-lg-2 row-cols-1 gy-lg-20 gy-10">
                    {% for review in short_list_of_reviews %}
                            {% include 'main/components/review.html' with id=review.id author_avatar=review.author_avatar project_photo=review.project_photo author=review.author description=review.description%}
                    {%endfor%}
                </div>

                <div class="row row-cols-lg-2  mt-0 row-cols-1 gy-lg-20 gy-10 collapse" id="collapseExample_review">
                    {% for review in short_list_of_reviews_collapesd %}
                            {% include 'main/components/review.html' with id=review.id author_avatar=review.author_avatar project_photo=review.project_photo author=review.author description=review.description%}
                    {%endfor%}
                </div>
               <div class="text-center mt-lg-20 mt-10">
                <a class="btn btn-outline-secondary btn-lg btn-wide-lg" href="{%url 'reviews'%}">Смотреть все </a>
                                                        </div>
            </section>
            <section class="cta">
                <div class="card rounded-lg-4 rounded-3">
                    <div class="card-body pt-lg-34 pt-17-5 px-lg-40 pb-lg-35 pb-20">
                        <h3 class="card-title fs-lg-20 fs-12 fw-normal ls-sm text-uppercase mb-lg-20 mb-14"
                            style="max-width: 680px;">Получите бесплатную консультацию</h3>
                        <p class="card-text lead fs-lg-12 fs-8 mb-lg-30 mb-17-5" style="max-width: 860px;">Оставьте
                            заявку на консультацию и получите ответы на все вопросы, а так же узнайте примерную
                            стоимость</p>
                        <form>
                            <div class="row row-cols-lg-3 row-cols-1 gy-lg-20 gy-10">
                                <div class="col">
                                    <input class="form-control form-control-xxl text-center w-100"
                                           placeholder="Введите ваше имя" type="text"/>
                                </div>
                                <div class="col">
                                    <input class="form-control form-control-xxl text-center"
                                           placeholder="Введите номер телефона" type="text"/>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-xxl w-100" type="submit">Получить консультацию
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        
    </div>
</div>
{% endblock %}