{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-30 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-17-5">
            <div class="d-lg-block d-none">

                <div class="row gy-lg-0  gy-12">
                    <div class="col-lg-6">
                        <h1 class="display-1 fs-3xl-25 fs-xl-23 fs-lg-22 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Дутые металлические решетки на окна</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="pt-xl-7 pt-lg-4">

                        </div>
                    </div>
                </div>
                <div class="mt-20 d-lg-none d-block">

                    <div class="vstack flex-wrap gap-10">
                        <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                        <btn class="btn btn-outline-black btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                    </div>
                </div>
                <nav class="d-lg-block d-none fs-9 mt-12">
                    <ul class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Главная </a></li>
                        <li class="breadcrumb-item"><a href="catalog.html">Каталог</a></li>
                        <li class="breadcrumb-item active">Дутые решетки на окна </li>
                    </ul>
                </nav>

            </div>
            <div class="d-lg-none d-block">
                <nav class="border-top border-bottom border-light mb-17 py-5">
                    <ul class="breadcrumb fs-6 mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Главная </a></li>
                        <li class="breadcrumb-item"><a href="catalog.html">Каталог</a></li>
                        <li class="breadcrumb-item active">Эскиз № 1-1 </li>
                    </ul>
                </nav>
                <h1 class="fs-13 ls-sm text-uppercase mb-0">Решетка на окно Эскиз № 1-1 </h1>
            </div>
        </header>
        <main>
            <section class="mb-lg-50 mb-30">
                <div class="row row-cols-4 d-lg-flex d-none gy-10 mb-10">
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="#">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Дутые решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">201</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="#">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Сварные решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">201</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="#">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Кованые решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">201</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="#">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">VIP класс решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">201</span></a>
                    </div>
                </div>
                <div class="row gy-lg-0 gy-20">
                    <div class="col-lg-3  d-lg-block d-none">
                        <div class="accordion d-block">
                            <div class="accordion-item border-0">
                                <div class="accordion-header d-lg-none d-block">
                                    <button class="accordion-button justify-content-center fs-9 bg-transparent text-muted border border-light rounded-2 shadow-none px-10 py-8 collapsed" data-bs-toggle="collapse" data-bs-target="#catalog-filter" type="button">Фильтр по параметрам</button>
                                </div>
                                <div class="accordion-collapse collapse d-lg-block mt-lg-0 mt-5" id="catalog-filter">
                                    <div class="accordion-body p-0">
                                        <div class=" rounded-lg-0 rounded-2 p-lg-0 p-10 ">
                                            <h5 class="d-lg-block border-bottom-lg  border-lg-0 border border-light d-none fs-12 fw-medium ls-sm text-uppercase mb-12-5">Фильтр</h5>


                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Тип решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-type-1" name="filter-type" autocomplete="off" type="radio" checked="checked" />
                                                        <label class="form-check-label" for="filter-type-1">Дутые решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-type-2" name="filter-type" autocomplete="off" type="radio" checked="checked" />
                                                        <label class="form-check-label" for="filter-type-2">Сварные решетки  </label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-type-3" name="filter-type" autocomplete="off" type="radio" checked="checked" />
                                                        <label class="form-check-label" for="filter-type-3">Кованые решетки</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Категория решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-1" name="filter-category" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-category-1">Дутые решетки</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-category-2" name="filter-category" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-category-2">Дутые решетки</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-28">
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Класс решеток</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-class-1" name="filter-class" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-class-1">Эконом класс</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-class-2" name="filter-class" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-class-2">Эксклюзивные</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-class-3" name="filter-class" autocomplete="off" type="radio" checked="checked" />
                                                        <label class="form-check-label" for="filter-class-3">VIP класс</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="fw-medium ls-sm text-uppercase mb-10">Тип открывания</h6>
                                                <div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-opening-type-1" name="filter-opening-type" autocomplete="off" type="radio" checked="checked" />
                                                        <label class="form-check-label" for="filter-opening-type-1">Без открывания</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm mb-10">
                                                        <input class="form-check-input" id="filter-opening-type-2" name="filter-opening-type" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-opening-type-2">С одной створкой</label>
                                                    </div>
                                                    <div class="form-check fs-9 ls-sm">
                                                        <input class="form-check-input" id="filter-opening-type-3" name="filter-opening-type" autocomplete="off" type="radio" />
                                                        <label class="form-check-label" for="filter-opening-type-3">С двумя створками</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" border-light  mt-0  pt-0">
                                                <div class="mt-15">
                                                    <div class="vstack gap-5">
                                                        <button class="btn btn-outline-black btn-lg btn-wide-xl d-lg-none d-block w-lg-auto w-100" type="button">Применить фильтр  </button>
                                                        <button class="btn btn-outline-light  btn-lg btn-wide-xl w-lg-auto w-100" type="button">Очистить фильтр  </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-lg-10 mb-18 mt-29">
                            <h6 class="fw-medium ls-sm text-uppercase ">Популярные разделы</h6>
                            <div class="mt-10">
                                <div class="hstack flex-row-lg flex-column align-items-start flex-wrap row-gap-lg-8 row-gap-6 column-gap-lg-12 fs-lg-10 fs-7 ls-sm">
                                    <a class="text-black text-hover-secondary text-decoration-none" href="#"> <span class="d-inline-flex align-items-center">ТОП 100</span></a>
                                    <a class="text-black text-hover-secondary text-decoration-none" href="#"><span class="d-inline-flex align-items-center">Без открывания</span></a>
                                    <a class="text-black text-hover-secondary text-decoration-none" href="#"><span class="d-inline-flex align-items-center">VIP Класс </span></a>

                                </div>

                            </div>

                        </div>

                        <div id="dropdown-wrapper" class="dropdown-wrapper" tabindex="1">
                            <h6 class="fw-medium ls-sm text-uppercase ">Вид</h6>

                            <ul class="dropdown-list">
                                <li><a class="nav-link text-hover-secondary" href="#">Сварные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Кованые</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Дутые</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Ажурные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Арочные</a></li>

                            </ul>

                        </div>
                        <div id="dropdown-wrapper" class="dropdown-wrapper" tabindex="1">
                            <h6 class="fw-medium ls-sm text-uppercase ">Коллекции</h6>

                            <ul class="dropdown-list">
                                <li><a class="nav-link text-hover-secondary" href="#">Сварные</a></li>
                                <li><a class="nav-link" href="#">Кованые</a></li>
                                <li><a class="nav-link" href="#">Дутые</a></li>
                                <li><a class="nav-link" href="#">Ажурные</a></li>
                            </ul>

                        </div>
                        <div id="dropdown-wrapper" class="dropdown-wrapper" tabindex="1">
                            <h6 class="fw-medium ls-sm text-uppercase ">назначение</h6>

                            <ul class="dropdown-list">
                                <li><a class="nav-link text-hover-secondary" href="#">Сварные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Кованые</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Дутые</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Ажурные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Арочные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Распашные</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">На балкон</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">На лоджию</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Для квартиры</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">на первый этаж</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Цоколь/подвал</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Для дома</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Антикошка</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">от выпадения детей</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">На кондиционер</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">Под цветы</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">в подьезд</a></li>
                                <li><a class="nav-link text-hover-secondary" href="#">на приямки</a></li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-lg-9">
                        <div class="border-lg border-lg-black rounded-lg-4 rounded-lg-3 p-lg-20">
                            <div class="product border-lg-0 border border-light rounded-3 p-lg-0 p-10">
                                <div class="row gy-lg-0 gy-20">
                                    <div class="col-lg-4">
                                        <div class="position-relative text-center">
                                            <div class="d-lg-none d-block position-absolute top-0 start-0 z-1"><a
                                                    class="text-muted text-hover-black" href="#">
                                                    {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                            </a></div>
                                            <div class="d-lg-none d-block position-absolute top-0 end-0 z-1"><a
                                                    class="text-muted text-hover-black" href="#">
                                                    {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                            </a></div>
                                            <div class="border-lg border-lg-light rounded-lg-3 px-lg-40 py-lg-35">
                                                <div class="swiper" id="product-swiper"
                                                     data-control="#product-swiper-control">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="ratio overflow-hidden" style="--bs-aspect-ratio: 200%; min-height: 180px; max-height: 265px;"><img class="object-fit-contain"
                                                                src="{% static 'main/img/grids_pictures' %}/{{path_folder}}/solid/{{path_file}}.png">

                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="ratio overflow-hidden"
                                                                 style="--bs-aspect-ratio: 200%; min-height: 180px; max-height: 265px;">
                                                                <img class="object-fit-contain"
                                                                     src="{% static 'main/img/grids_pictures' %}/{{path_folder}}/solid/{{path_file}} F.png">
                                                                     alt="Решетка на окно Эскиз № {{path_folder}}-{{path_file}}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mt-lg-10 mt-20"
                                                 id="product-swiper-control">
                                                <button class="btn btn-outline-secondary btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                                                        type="button" style="width: 3rem; height: 3rem;"><-
                                                </button>
                                                <div class="swiper-pagination"></div>
                                                <button class="btn btn-outline-secondary btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                                                        type="button" style="width: 3rem; height: 3rem;">->
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="d-lg-flex d-none align-items-center border-bottom border-black pb-12 mb-16">
                                            <h2 class="h5 fw-medium ls-sm text-uppercase mb-0">Решетка на окно Эскиз №
                                                {{path_folder}}-{{path_file}}</h2>
                                            <div class="ms-auto">
                                                <div class="hstack gap-10"><a class="text-secondary text-hover-black"
                                                                              href="#">
                                                    <svg class="svg-icon">
                                                        <use href="img/sprite_icons.svg#chart"></use>
                                                    </svg>
                                                </a><a class="text-secondary text-hover-black" href="#">
                                                    <svg class="svg-icon">
                                                        <use href="img/sprite_icons.svg#heart"></use>
                                                    </svg>
                                                </a></div>
                                            </div>
                                        </div>
                                        <div class="mb-15 d-lg-block d-none">
                                            <div class="row row-cols-4 gy-20">
                                                <div class="col">
                                                    <input class="btn-check" id="product-type-1" name="product-type"
                                                           value="Без открывания" type="radio" checked>
                                                    <label class="btn btn-outline-black w-100 h-100 rounded-2 p-10"
                                                           for="product-type-1">
                                                        <div class="ratio"
                                                             style="--bs-aspect-ratio: 100%; max-height: 80px;"><img
                                                                class="object-fit-contain"
                                                                src="{% static 'main/img/product-card-img.png' %}" alt="Без открывания">
                                                        </div>
                                                        <span class="d-block fs-6 fw-medium text-uppercase mt-8">Без открывания</span>
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <input class="btn-check" id="product-type-2" name="product-type"
                                                           value="С 1 створкой" type="radio">
                                                    <label class="btn btn-outline-black w-100 h-100 rounded-2 p-10"
                                                           for="product-type-2">
                                                        <div class="ratio"
                                                             style="--bs-aspect-ratio: 100%; max-height: 80px;"><img
                                                                class="object-fit-contain"
                                                                src="{% static 'main/img/product-card-img.png' %}" alt="С 1 створкой"></div>
                                                        <span class="d-block fs-6 fw-medium text-uppercase mt-8">С 1 створкой</span>
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <input class="btn-check" id="product-type-3" name="product-type"
                                                           value="С 2 створками" type="radio">
                                                    <label class="btn btn-outline-black w-100 h-100 rounded-2 p-10"
                                                           for="product-type-3">
                                                        <div class="ratio"
                                                             style="--bs-aspect-ratio: 100%; max-height: 80px;"><img
                                                                class="object-fit-contain"
                                                                src="{% static 'main/img/product-card-img.png' %}" alt="С 2 створками">
                                                        </div>
                                                        <span class="d-block fs-6 fw-medium text-uppercase mt-8">С 2 створками                                       </span>
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <input class="btn-check" id="product-type-4" name="product-type"
                                                           value="Распашная" type="radio">
                                                    <label class="btn btn-outline-black w-100 h-100 rounded-2 p-10"
                                                           for="product-type-4">
                                                        <div class="ratio"
                                                             style="--bs-aspect-ratio: 100%; max-height: 80px;"><img
                                                                class="object-fit-contain"
                                                                src="{% static 'main/img/product-card-img.png' %}" alt="Распашная"></div>
                                                        <span class="d-block fs-6 fw-medium text-uppercase mt-8">Распашная</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="row row-cols-lg-2 row-cols-1 gy-lg-10 gy-5">
                                                <div class="col">
                                                    <select class="form-select form-select-lg rounded-2" id="width_of_rod" onchange="changeForm()">
                                                        <option selected>Выберите ширину прутка</option>
                                                        {% for item in additional_info %}
                                                            <option>{{ item.name }} - {{ item.price_b2c }} руб.</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <select class="form-select form-select-lg rounded-2">
                                                        <option selected>Вариант покраса решетки</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-lg rounded-2" id="width"
                                                           placeholder="Ширина, см." type="text" oninput="changeForm()">
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-lg rounded-2" id="height" oninput="changeForm()"
                                                           placeholder="Высота, см." type="text">
                                                </div>
                                                <div class="col">
                                                    <input class="form-control form-control-lg rounded-2" id="amount" oninput="changeForm()"
                                                           placeholder="Количество" type="text">
                                                </div>
                                                <div class="col">
                                                    <select class="form-select form-select-lg rounded-2" id="installing" onchange="changeForm()">
                                                        <option selected>Без установки</option>
                                                        <option>Установка - 500 руб</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="mt-17-5">
                                            <div class="row row-cols-lg-2 row-cols-1 align-items-center gy-lg-0 gy-15">
                                                <div class="col"><span id="total"
                                                        class="fs-lg-13 fs-11 fw-semibold text-uppercase">0</span><span
                                                        class="d-block fs-lg-8 fs-7 text-muted text-uppercase mt-lg-1 mt-7-5">Для точного расчета <br>закажите   <span
                                                        class="text-primary">бесплатный замер</span></span></div>
                                                <div class="col"><a class="btn btn-primary btn-xl w-100" href="#">Заказать
                                                    в 1 клик</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                             <!-- TABS -->
                            <div class="border-top-lg border-lg-black mt-20 pt-lg-20">
                             <ul class="nav nav-pills  fs-lg-9 fs-7 ls-sm  gap-lg-10 gap-5" id="myTab" role="tablist">
                                        <li class="nav-item" style="flex: 1 0 0%">
                                            <button class="nav-link active w-100" id="product-characteristics-tab" data-bs-toggle="tab" data-bs-target="#product-characteristics-tab-pane" type="button" role="tab">Характеристики</button>
                                        </li>
                                        <li class="nav-item" style="flex: 1 0 0%">
                                            <button class="nav-link w-100" id="product-description-tab" data-bs-toggle="tab" data-bs-target="#product-description-tab-pane" type="button" role="tab">Описание</button>
                                        </li>
                                        <li class="nav-item" style="flex: 1 0 0%">
                                            <button class="nav-link w-100" id="product-delivery-tab" data-bs-toggle="tab" data-bs-target="#product-delivery-tab-pane" type="button" role="tab">Доставка</button>
                                        </li>
                                        <li class="nav-item" style="flex: 1 0 0%">
                                            <button class="nav-link w-100" id="product-installation-tab" data-bs-toggle="tab" data-bs-target="#product-installation-tab-pane" type="button" role="tab">Установка</button>
                                        </li>
                                        <li class="nav-item" style="flex: 1 0 0%">
                                            <button class="nav-link w-100" id="product-payment-tab" data-bs-toggle="tab" data-bs-target="#product-payment-tab-pane" type="button" role="tab">Оплата   </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-lg-20 pt-10" id="myTabContent">
                                        <div class="tab-pane fade show active" id="product-characteristics-tab-pane" role="tabpanel" tabindex="0">
                                            <table class="table fs-lg-9 fs-8 text-muted">
                                                <tbody>
                                                    <tr>
                                                        <td>Размер: 1000х1000 мм</td>
                                                        <td class="d-lg-table-cell d-none">Размер: 1000х1000 мм</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Кол-во створок: : однастворчетая</td>
                                                        <td class="d-lg-table-cell d-none">Кол-во створок: : однастворчетая</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Огнестойкость: EI-60 (60 мин)</td>
                                                        <td class="d-lg-table-cell d-none">Огнестойкость: EI-60 (60 мин)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Отделка: прошковое напыление, любой цвет RAL</td>
                                                        <td class="d-lg-table-cell d-none">Отделка: прошковое напыление, любой цвет RAL</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Огнестойкость: EI-60 (60 мин)</td>
                                                        <td class="d-lg-table-cell d-none">Огнестойкость: EI-60 (60 мин) </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="product-description-tab-pane" role="tabpanel" tabindex="0">
                                            <div class="fs-lg-9 fs-8">
                                                <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка
                                                    псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                                <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка
                                                    псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                                <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка
                                                    псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="product-delivery-tab-pane" role="tabpanel" tabindex="0"></div>
                                        <div class="tab-pane fade" id="product-installation-tab-pane" role="tabpanel" tabindex="0"></div>
                                        <div class="tab-pane fade" id="product-payment-tab-pane" role="tabpanel" tabindex="0"></div>
                                    </div>
                            </div>
                            <div class="border-top border-black mt-20 pt-20">
                                <div class="row row-cols-lg-3 row-cols-2 gy-10">
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                            <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover"  src="{% static 'main/img/project-img.png' %}"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    
                            <!-- DRUGIE RESHETKI -->
                            <div class="border-lg border-lg-black rounded-lg-4 mt-lg-20 mt-28 p-lg-20">
                                <h3 class="h5 fs-lg-13 fs-11 fw-medium ls-sm text-uppercase mb-17-5">Другие решетки по схожим ценам</h3>
                                <div class="row row-cols-lg-3 row-cols-1 gy-lg-0 gy-20">
                                    <div class="col mb-10 mb-md-20">
                                        <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                                            <div class="card-body p-lg-13 py-10">
                                                <div class="position-relative text-center mb-20">
                                                    <div class="position-absolute top-0 start-0 z-1">
                                                        <a class="text-muted text-hover-black" href="#">
                                                            {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                                </a></div>
                                                <div class="position-absolute top-0 end-0 z-1"><a
                                                        class="text-muted text-hover-black" href="#">
                                                        {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                                </a></div>
                                                <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                                    <button class="btn btn-light btn-lg btn-wide-xl"
                                                            data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                                            type="button">Быстрый просмотр
                                                    </button>
                                                </div>
                                                <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                                    <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                                         alt="Решетки на окна эконом класса"></div>
                                            </div>
                                            <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                                            <div class="d-flex align-items-center justify-content-between mt-10">
                                                <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                                                <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-10 mb-md-20">
                                    <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                                        <div class="card-body p-lg-13 py-10">
                                            <div class="position-relative text-center mb-20">
                                                <div class="position-absolute top-0 start-0 z-1">
                                                    <a class="text-muted text-hover-black" href="#">
                                                        {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                            </a></div>
                                            <div class="position-absolute top-0 end-0 z-1"><a
                                                    class="text-muted text-hover-black" href="#">
                                                    {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                            </a></div>
                                            <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                                <button class="btn btn-light btn-lg btn-wide-xl"
                                                        data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                                        type="button">Быстрый просмотр
                                                </button>
                                            </div>
                                            <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                                <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                                     alt="Решетки на окна эконом класса"></div>
                                        </div>
                                        <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                                        <div class="d-flex align-items-center justify-content-between mt-10">
                                            <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                                            <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-10 mb-md-20">
                                <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                                    <div class="card-body p-lg-13 py-10">
                                        <div class="position-relative text-center mb-20">
                                            <div class="position-absolute top-0 start-0 z-1">
                                                <a class="text-muted text-hover-black" href="#">
                                                    {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                        </a></div>
                                        <div class="position-absolute top-0 end-0 z-1"><a
                                                class="text-muted text-hover-black" href="#">
                                                {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                        </a></div>
                                        <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                            <button class="btn btn-light btn-lg btn-wide-xl"
                                                    data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                                    type="button">Быстрый просмотр
                                            </button>
                                        </div>
                                        <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                            <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                                 alt="Решетки на окна эконом класса"></div>
                                    </div>
                                    <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                                    <div class="d-flex align-items-center justify-content-between mt-10">
                                        <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                                        <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-10 mb-md-20">
                            <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                                <div class="card-body p-lg-13 py-10">
                                    <div class="position-relative text-center mb-20">
                                        <div class="position-absolute top-0 start-0 z-1">
                                            <a class="text-muted text-hover-black" href="#">
                                                {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                    </a></div>
                                    <div class="position-absolute top-0 end-0 z-1"><a
                                            class="text-muted text-hover-black" href="#">
                                            {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                    </a></div>
                                    <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                        <button class="btn btn-light btn-lg btn-wide-xl"
                                                data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                                type="button">Быстрый просмотр
                                        </button>
                                    </div>
                                    <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                        <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                             alt="Решетки на окна эконом класса"></div>
                                </div>
                                <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                                <div class="d-flex align-items-center justify-content-between mt-10">
                                    <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                                    <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-10 mb-md-20">
                        <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                            <div class="card-body p-lg-13 py-10">
                                <div class="position-relative text-center mb-20">
                                    <div class="position-absolute top-0 start-0 z-1">
                                        <a class="text-muted text-hover-black" href="#">
                                            {% include 'main/icons/heart.html' with classes='svg-icon' %}
                                </a></div>
                                <div class="position-absolute top-0 end-0 z-1"><a
                                        class="text-muted text-hover-black" href="#">
                                        {% include 'main/icons/chart.html' with classes='svg-icon' %}
                                </a></div>
                                <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                    <button class="btn btn-light btn-lg btn-wide-xl"
                                            data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                            type="button">Быстрый просмотр
                                    </button>
                                </div>
                                <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                    <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                         alt="Решетки на окна эконом класса"></div>
                            </div>
                            <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                            <div class="d-flex align-items-center justify-content-between mt-10">
                                <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                                <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-10 mb-md-20">
                    <div class="card card_hover_shadow card-hover border-0 rounded-lg-4 rounded-3 shadow-lg">
                        <div class="card-body p-lg-13 py-10">
                            <div class="position-relative text-center mb-20">
                                <div class="position-absolute top-0 start-0 z-1">
                                    <a class="text-muted text-hover-black" href="#">
                                        {% include 'main/icons/heart.html' with classes='svg-icon' %}
                            </a></div>
                            <div class="position-absolute top-0 end-0 z-1"><a
                                    class="text-muted text-hover-black" href="#">
                                    {% include 'main/icons/chart.html' with classes='svg-icon' %}
                            </a></div>
                            <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                                <button class="btn btn-light btn-lg btn-wide-xl"
                                        data-bs-toggle="modal" data-bs-target="#product-quick-view"
                                        type="button">Быстрый просмотр
                                </button>
                            </div>
                            <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;">
                                <img class="object-fit-contain mt-15" src="{% static 'main/img/product-card-img.png' %}"
                                     alt="Решетки на окна эконом класса"></div>
                        </div>
                        <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5">

                        <div class="d-flex align-items-center justify-content-between mt-10">
                            <span class="d-block fs-11 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                            <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-9   ">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/reasons.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

{#            {% include 'main/components/product_quick_view.html' %}#}
        </main>
    </div>
</div>
    <script>
    function getValueById(id){
        return document.getElementById(id).value
    }
    function changeForm() {
        let width_of_rod = getValueById("width_of_rod")
        if (width_of_rod !== "Выберите ширину прутка") {
            width_of_rod = +width_of_rod.match(/\d{3,}/)[0]
        }

        let width = +getValueById("width")
        if (!width) {
            width = 100;
        }

        let height = +getValueById("height")
        if (!height) {
            height = 100;
        }

        let amount = +getValueById("amount")
        if (!amount) {
            amount = 1;
        }
        let installing = getValueById("installing")
        if (installing !== "Без установки") {
            installing = +installing.match(/\d{3,}/)[0]
        } else {
            installing = 0;
        }
        total = amount * (width_of_rod * width * height / 10000) + installing;
        document.getElementById("total").textContent = total;
    }
    </script>
{% endblock %}