{%extends 'main/base.html' %} 
{% load static %} 
{% block content %}
<div class="pt-lg-30 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-17-5">
            <div class="d-lg-block d-none">

                <div class="row gy-lg-0  gy-12">
                    <div class="col-lg-6">
                        <h1 class="display-1 fs-3xl-25 fs-xl-23 fs-lg-22 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Дутые металлические решетки на окна</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="pt-xl-7 pt-lg-4">

                        </div>
                    </div>
                </div>
                <div class="mt-20 d-lg-none d-block">

                    <div class="vstack flex-wrap gap-10">
                        <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                        <btn class="btn btn-outline-black btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                    </div>
                </div>
                <nav class="d-lg-block d-none fs-9 mt-12">
                    <ul class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Главная </a></li>
                        <li class="breadcrumb-item"><a href="catalog.html">Каталог</a></li>
                        <li class="breadcrumb-item active">Дутые решетки на окна </li>
                    </ul>
                </nav>

            </div>
            <div class="d-lg-none d-block">
                <nav class="border-top border-bottom border-light mb-17 py-5">
                    <ul class="breadcrumb fs-6 mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Главная </a></li>
                        <li class="breadcrumb-item"><a href="catalog.html">Каталог</a></li>
                        <li class="breadcrumb-item active">Эскиз № 1-1 </li>
                    </ul>
                </nav>
                <h1 class="fs-13 ls-sm text-uppercase mb-0">Решетка на окно Эскиз №
                    {{path_folder}}-{{path_file}}</h1>
            </div>
        </header>
        <main>
            <section class="mb-lg-50 mb-30">
                <div class="row row-cols-4 d-lg-flex d-none gy-10 mb-10">
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="/решетки-на-окна-эконом-класс">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Эконом решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">149</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="/ажурные-решетки-на-окна">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Ажурные решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">111</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="/кованые-решетки-на-окна-вип-класс">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">VIP <br/> решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">75</span></a>
                    </div>
                    <div class="col">
                        <a class="d-flex bg-hover-light text-body border border-light rounded-lg-3 rounded-2 text-decoration-none px-lg-20  px-10 py-4" href="/эксклюзивные-кованые-решетки">
                            <h3 class="w-50 h5 fs-lg-8 fs-7 fw-medium ls-sm text-uppercase mb-0">Эксклюзив решетки</h3><span class="badge d-lg-block d-none fs-5 rounded-pill border border-secondary text-body mt-auto mb-1 ms-auto py-2" style="min-width: 3rem;">50</span></a>
                    </div>
                </div>
                <div class="row gy-lg-0 gy-20">
                    <div class="col-lg-3  d-lg-block d-none">

                        <div class="mb-lg-10 mb-18 ">
                            <h6 class="fw-medium ls-sm text-uppercase mb-0 d-inline-block px-10 py-5 rounded-top-3 border border-radius">Популярные разделы</h6>
                            <div class="border border-light rounded-end-3 rounded-end-3 rounded-bottom-3">
                                <div class="hstack flex-row-lg flex-column align-items-start flex-wrap row-gap-lg-8 row-gap-6 column-gap-lg-12 fs-lg-10 fs-10 ls-sm">
                                    <a class="text-black text-hover-secondary mt-10 text-decoration-none ms-10" href="#"> <span class="d-inline-flex align-items-center">ТОП 100</span></a>
                                    <a class="text-black text-hover-secondary text-decoration-none ms-10" href="#"><span class="d-inline-flex align-items-center">Без открывания</span></a>
                                    <a class="text-black text-hover-secondary mb-10 text-decoration-none ms-10" href="#"><span class="d-inline-flex align-items-center">VIP Класс </span></a>

                                </div>

                            </div>

                        </div>
                        <div class="my-20">
                            <div id="dropdown-wrapper" class="dropdown-wrapper fw-medium mb-10 rounded-3 border border-radius" tabindex="1">
                                <h6 class="fw-medium ls-sm text-uppercase mt-8 ms-10 mb-0">Вид</h6>

                                <ul class="dropdown-list mb-8">
                                    <li><a class="nav-link text-hover-secondary mt-5 ms-10" href="#">Сварные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Кованые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Дутые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Ажурные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Арочные</a></li>

                                </ul>

                            </div>
                            <div id="dropdown-wrapper" class="dropdown-wrapper fw-medium mb-10 rounded-3 border border-radius" tabindex="1">
                                <h6 class="fw-medium ls-sm text-uppercase mt-8 ms-10 mb-0">Коллекции</h6>

                                <ul class="dropdown-list mb-8">
                                    <li><a class="nav-link text-hover-secondary mt-5 ms-10" href="#">Сварные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Кованые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Дутые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Ажурные</a></li>
                                </ul>

                            </div>
                            <div id="dropdown-wrapper" class="dropdown-wrapper fw-medium   rounded-3 border border-radius" tabindex="1">
                                <h6 class="fw-medium ls-sm text-uppercase mt-8 ms-10 mb-0">Назначение</h6>

                                <ul class="dropdown-list mb-8">
                                    <li><a class="nav-link text-hover-secondary mt-5 ms-10" href="#">Сварные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Кованые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Дутые</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Ажурные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Арочные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Распашные</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">На балкон</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">На лоджию</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Для квартиры</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">на первый этаж</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Цоколь/подвал</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Для дома</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Антикошка</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">от выпадения детей</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">На кондиционер</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">Под цветы</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">в подьезд</a></li>
                                    <li><a class="nav-link text-hover-secondary ms-10" href="#">На приямки</a></li>
                                </ul>

                            </div>
                        </div>


                        <div class="left_sidebar"><img class="w-100" src="{% static 'main/img/sale.png' %}" alt="sale">

                            <!-- POCHEMY NASHA KOMPANIYA -->
                            <section>

                                <div class="mt-10 pluses_company">


                                    <div class="card h-100 rounded-lg-5 rounded-3 mb-5">
                                        <div class="card-body p-10 ">
                                            <div class="row">
                                                <div class="col-4 d-flex align-items-center">
                                                    {% include 'main/icons/reasons/tape-measure.html' with classes='svg-icon w-auto' styles='height: 2rem;' %}
                                                </div>
                                                <div class="col-8 px-lg-0 ">
                                                    <h5 class="card-title fs-lg-7 fs-10 fw-normal mt-3 text-uppercase mb-0">По вашим размерам</h5>
                                                    <p class="card-text fs-lg-7 fs-7 text-muted ">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card h-100 rounded-lg-5 rounded-3 mb-5">
                                        <div class="card-body p-10 ">
                                            <div class="row">
                                                <div class="col-4  d-flex align-items-center">
                                                    {% include 'main/icons/reasons/book.html' with classes='svg-icon w-auto mb-3' styles='height: 2.5rem;' %}
                                                </div>
                                                <div class="col-8 px-lg-0">
                                                    <h5 class="card-title fs-lg-7 fs-10 fw-normal mt-3 text-uppercase mb-0">Готовые эскизы решеток</h5>
                                                    <p class="card-text fs-lg-7 fs-7 text-muted ">615 вариантов металлических решеток на окна, двери и балкон</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card h-100 rounded-lg-5 rounded-3 mb-5">
                                        <div class="card-body p-10 ">
                                            <div class="row">
                                                <div class="col-4  d-flex align-items-center">
                                                    {% include 'main/icons/reasons/gear.html' with classes='svg-icon w-auto mb-3' styles='height: 2.5rem;' %}
                                                </div>
                                                <div class="col-8 px-lg-0">
                                                    <h5 class="card-title fs-lg-7 fs-10 fw-normal mt-3 text-uppercase mb-0">Сварщики и кузнецы </h5>
                                                    <p class="card-text fs-lg-7 fs-7 text-muted ">С профильным образованием ежедневно изготавливают 57 разных видов изделий
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card h-100 rounded-lg-5 rounded-3 mb-5">
                                        <div class="card-body p-10 ">
                                            <div class="row">
                                                <div class="col-4  d-flex align-items-center">
                                                    {% include 'main/icons/reasons/garanty.html' with classes='svg-icon w-auto mb-3' styles='height: 2rem;' %}
                                                </div>
                                                <div class="col-8 px-lg-0">
                                                    <h5 class="card-title fs-lg-7 fs-10 fw-normal mt-3 text-uppercase mb-0">Гарантия 5 лет
                                                    </h5>
                                                    <p class="card-text fs-lg-7 fs-7 text-muted ">Заключаем договор с фиксированной ценой, сроками изготовления и монтажа</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="card h-100 rounded-lg-5 rounded-3 mb-5">
                                        <div class="card-body p-10 ">
                                            <div class="row">
                                                <div class="col-4 d-flex align-items-center">
                                                    {% include 'main/icons/reasons/years.html' with classes='svg-icon w-auto mb-3' styles='height: 0.5rem;' %}
                                                </div>
                                                <div class="col-8 px-lg-0">
                                                    <h5 class="card-title fs-lg-7 fs-10 fw-normal mt-3 text-uppercase mb-0">50 лет службы
                                                    </h5>
                                                    <p class="card-text fs-lg-7 fs-7 text-muted ">Благодаря контролю качества и краски с антикоррозийным напылением </p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>



                                </div>


                            </section>
                        </div>

                    </div>
                    <div class="col-lg-9 ">
                        <div class="border-lg border-lg-black rounded-lg-4 rounded-lg-3 p-lg-20">
                            
                            <div class="product border-lg-0 border border-light rounded-3 p-lg-0 p-10">
                                
                                <div class="row gy-lg-0 gy-20">
                                    <div class="col-lg-4">
                                        <div class="card-body p-10 border-lg border-lg-light rounded-lg-3 shadow-lg">
                                        <div class="position-relative text-center ">
                                            <div class="position-absolute top-0 start-0 z-2">
                                                <a class="text-muted text-hover-black" href="#">{% include 'main/icons/chart.html' with classes="svg-icon"%}</a>
                                                <span class="fs-8  ms-2 py-0 bg-success text-white px-2 rounded-2">хит</span>
                                            </div>
                                            <div class="position-absolute top-0 end-0 z-2">
                                                <a class="text-muted text-hover-black" href="#">{% include 'main/icons/heart.html' with classes="svg-icon"%}</a>
                                            </div>
                                            <div class="">
                                                <div id="carouselExampleIndicators" class="carousel slide " data-bs-interval="false" >
                                                    <div class="carousel-indicators">
                                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-light " aria-current="true" aria-label="Slide 1" style="height:7px;"></button>
                                                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="bg-light" aria-label="Slide 2" style="height:7px;"></button>
                                                     
                                                    </div>
                                                    <div class="carousel-inner">
                                                      <div class="carousel-item active">
                                                        <div class="ratio overflow-hidden" style="--bs-aspect-ratio: 200%; min-height: 180px; max-height: 400px;">
                                                            <img class="object-fit-contain" src="{% static 'main/img/grids_pictures' %}/{{product.path_folder}}/solid/{{product.path_file}}.png">
                                                            </div>
                                                      </div>
                                                      <div class="carousel-item">
                                                        <div class="ratio overflow-hidden" style="--bs-aspect-ratio: 200%; min-height: 180px; max-height: 400px;">
                                                            <img class="object-fit-contain" src="{% static 'main/img/grids_pictures' %}/{{product.path_folder}}/solid/{{product.path_file}}.png">
                                                            </div>
                                                      </div>
                                                   
                                                    </div>
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                      <span class="" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="grey" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                                      </svg></span>
                                                      <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                      <span class="" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="grey" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                      </svg></span>
                                                      <span class="visually-hidden">Next</span>
                                                    </button>
                                                  </div>
                                       
                                                </div>
                                            
                                            </div>
                                            </div>
                                            
                                            <div class="row  mt-1 gy-20">
                                                {% for item in list_of_open_types %}
                                                <div class="mt-15">
                                                    <input class="btn-check open-type-price" id="product-type-{{item.name}}" name="product-type" value="Без открывания" type="radio" onclick="changeForm()">
                                                    <label class="btn btn-outline-black d-flex w-100 h-100 rounded-2 py-10" for="product-type-{{item.name}}">
                                                        <div class="row">
                                                            <div class="col-3">
                                                              <img
                                                                id="{{item.name}}"
                                                                class="object-fit-contain"
                                                                src="{% static 'main/img/grids_pictures' %}/1/{{item.name}}/1 F.png" alt="{{item.description}}" width="50">
                                                        
                                                           </div>
                                                           <div class="col-5 align-items-center d-flex">
                                                              <span class="product-description-{{item.name}} fs-7 fw-medium  ">{{item.description}}</span>
                                                           </div>
                                                           <div class="col-4 px-5 align-items-center d-flex">
                                                               <span class="fs-7 fw-medium product-price-{{item.name}}" id="price-{{item.name}}" >+ {% if item.name in 'arch'%}{{item.price}}% {%else%}{{item.price}} руб.{% endif %}</span>
                                                           </div>
                                                    </div>
                                                    </label>
                                                </div>
                                                {%endfor%}
                                                <style>
                                                    #arch:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/arch/1.png");
                                                    }
                                                    
                                                    #gog:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/gog/1 O.png");
                                                    }
                                                    
                                                    #o:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/o/1 O.png");
                                                    }
                                                    
                                                    #og:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/og/1 O.png");
                                                    }
                                                    
                                                    #ogo:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/ogo/1 O.png");
                                                    }
                                                    
                                                    #oo:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/oo/1 O.png");
                                                    }
                                                    
                                                    #solid:hover {
                                                        content: url("{% static 'main/img/grids_pictures' %}/1/solid/1.png");
                                                    }
                                                </style>
                                          
                                        </div>
                                    </div>
                                    <div class="col-lg-8 ">

                                        <h2 class="h5 fw-medium ls-sm text-uppercase d-none d-lg-block">Решетка на окно Эскиз №
                                            {{path_folder}}-{{path_file}}</h2>
                                        <div class="row mx-0 mb-10 py-3 border rounded-2 ">
                                            <div class="col-4 text-center">
                                                <p class="mb-0 fs-7 text-muted">Цена сегодня</p>
                                                <span class="fs-9">990 р./ м²</span>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p class="mb-0 fs-7 text-muted">Старая цена:</p>
                                                <span class="fs-9 text-muted text-decoration-line-through">1200 р./ м²</span>
                                            </div>
                                            <div class="col-4 text-center">
                                                <p class="mb-0 fs-7 text-muted">Рейтинг 4 из 5</p>
                                                <div class="d-flex pt-2 justify-content-center">
                                                    {% include 'main/icons/star.html' with classes='svg-icon' styles='width:13px; margin-right:2px;' %} 
                                                    {% include 'main/icons/star.html' with classes='svg-icon' styles='width:13px; margin-right:2px;' %} 
                                                    {% include 'main/icons/star.html' with classes='svg-icon' styles='width:13px; margin-right:2px;' %} 
                                                    {% include 'main/icons/star.html' with classes='svg-icon' styles='width:13px; margin-right:2px;' %} 
                                                    {% include 'main/icons/star.html' with classes='svg-icon' styles='width:13px; margin-right:2px;' %}
                                                    <span class="fs-lg-6 fs-8">(32)</span>
                                                </div>
                                            </div>
                                        </div>

                                        <form class=" mb-10">

                                            <div class="row row-cols-lg-2 row-cols-1 gy-lg-10 gy-5">


                                                <div class="col">
                                                    <select class="form-select form-select-lg text-muted rounded-2" id="width_of_rod" onchange="changeForm()">
                                                        <option>Выберите ширину прутка</option>
                                                        {% for item in product.additional_info %}
                                                            <option id="{{item.name}}" class="width-option">{{ item.name }} - {{ item.price_b2c }} руб.</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <select class="form-select text-muted form-select-lg rounded-2" id="painting" onchange="changeForm()">
                                                        <option selected>Без покраски</option>
                                                        <option>Покраска (эмаль НЦ) - 550 руб</option>
                                                        <option>Покраска (эмаль ХВ) - 650 руб</option>
                                                        <option>Покраска (эмаль NOVAX) - 1200 руб</option>
                                                        <option>Покраска (краска Hammerite) - 1400 руб</option>
                                                        <option>Покраска (порошковое нап.) - 1700 руб</option>
                                                        <option>Покраска (эмаль Westplast) - 1900 руб</option>
                                                    </select>
                                                </div>
                                                <div class="col text-muted">
                                                    <input class="form-control text-muted form-control-lg rounded-2" id="width" placeholder="100 см." type="text" oninput="changeForm() ">
                                                </div>
                                                <div class="col">
                                                    <input class="form-control text-muted form-control-lg rounded-2" id="height" oninput="changeForm()" placeholder="100 см." type="text">
                                                </div>
                                                <div class="col">
                                                    <input class="form-control  text-muted form-control-lg rounded-2" id="amount" oninput="changeForm()" placeholder="1" type="text">
                                                </div>
                                                <div class="col">
                                                    <select class="form-select  text-muted form-select-lg rounded-2" id="installing" onchange="changeForm()">
                                                        <option selected>Без установки</option>
                                                        <option>Установка - 500 руб</option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                        </form>
                                       
                                            <div class="row row-cols-lg-2 row-cols-1 align-items-center  gy-lg-0 gy-15">
                                                <div class="col">
                                                    <div class="d-flex  mb-lg-2 mb-10  border rounded-2 py-2">
                                                        <div class="form-check ms-5 me-0">
                                                            <input class="form-check-input  " type="checkbox" value="" id="flexCheckDefault">
                                                          </div>
                                                          <span class="fs-8 pt-1   text-muted ">Открывающаяся <span class="fs-7 ps-5 text-light"> +1500</span></span>
                                                    </div>
                                                    <span class="fs-lg-14 fs-20  fw-semibold text-uppercase">итого: </span>
                                                    <span id="total" class="fs-lg-14 fs-20 fw-semibold text-uppercase">0</span>
                                                  
                                                </div>
                                                <div class="col"><a class="btn btn-primary btn-xl w-100" href="#">Заказать
                                                    в 1 клик</a></div>
                                            </div>
                                 
                                        <div class="row row-cols-lg-3 row-cols-2 mt-2 gy-10">
                                            <div class="col px-5">
                                                <a class="d-block">
                                                    <div class="ratio ratio-4x3 border border-light rounded-4" style="max-height: 260px;"><p class="text-center pt-2 fs-6 fs-sm-8 fs-md-12 fs-xl-7   text-secondary">Обратите внимание! Быстрый расчет не учитывает установку и доставку. Для точного расчета закажите
                                                        <span class="text-danger">бесплатный замер</span> или позвоните по телефону: 
                                                        <span class="text-danger"><br>+7 495 127-04-43</span></p></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                            <div class="col px-5">
                                                <a class="d-block" data-fslightbox="images" href="{% static 'main/img/project-img.png' %}">
                                                    <div class="ratio ratio-4x3" style="max-height: 260px;"><img class="rounded-lg-4 rounded-3 object-fit-cover" src="{% static 'main/img/project-img.png' %}"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- TABS -->
                            <div class="border-top-lg border-lg-black mt-20 pt-lg-20">
                                <ul class="nav nav-pills  fs-lg-9 fs-7 ls-sm  gap-lg-10 gap-5" id="myTab" role="tablist">
                                    <li class="nav-item" style="flex: 1 0 0%">
                                        <button class="nav-link active w-100" id="product-characteristics-tab" data-bs-toggle="tab" data-bs-target="#product-characteristics-tab-pane" type="button" role="tab">Характеристики</button>
                                    </li>
                                    <li class="nav-item" style="flex: 1 0 0%">
                                        <button class="nav-link w-100" id="product-description-tab" data-bs-toggle="tab" data-bs-target="#product-description-tab-pane" type="button" role="tab">Описание</button>
                                    </li>
                                    <li class="nav-item" style="flex: 1 0 0%">
                                        <button class="nav-link w-100" id="product-delivery-tab" data-bs-toggle="tab" data-bs-target="#product-delivery-tab-pane" type="button" role="tab">Доставка</button>
                                    </li>
                                    <li class="nav-item" style="flex: 1 0 0%">
                                        <button class="nav-link w-100" id="product-installation-tab" data-bs-toggle="tab" data-bs-target="#product-installation-tab-pane" type="button" role="tab">Установка</button>
                                    </li>
                                    <li class="nav-item" style="flex: 1 0 0%">
                                        <button class="nav-link w-100" id="product-payment-tab" data-bs-toggle="tab" data-bs-target="#product-payment-tab-pane" type="button" role="tab">Оплата   </button>
                                    </li>
                                </ul>
                                <div class="tab-content pt-lg-20 pt-10" id="myTabContent">
                                    <div class="tab-pane fade show active" id="product-characteristics-tab-pane" role="tabpanel" tabindex="0">
                                        <table class="table fs-lg-9 fs-8 text-muted">
                                            <tbody>
                                                <tr>
                                                    <td>Размер: 1000х1000 мм</td>
                                                    <td class="d-lg-table-cell d-none">Размер: 1000х1000 мм</td>
                                                </tr>
                                                <tr>
                                                    <td>Кол-во створок: : однастворчетая</td>
                                                    <td class="d-lg-table-cell d-none">Кол-во створок: : однастворчетая</td>
                                                </tr>
                                                <tr>
                                                    <td>Огнестойкость: EI-60 (60 мин)</td>
                                                    <td class="d-lg-table-cell d-none">Огнестойкость: EI-60 (60 мин)</td>
                                                </tr>
                                                <tr>
                                                    <td>Отделка: прошковое напыление, любой цвет RAL</td>
                                                    <td class="d-lg-table-cell d-none">Отделка: прошковое напыление, любой цвет RAL</td>
                                                </tr>
                                                <tr>
                                                    <td>Огнестойкость: EI-60 (60 мин)</td>
                                                    <td class="d-lg-table-cell d-none">Огнестойкость: EI-60 (60 мин) </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="product-description-tab-pane" role="tabpanel" tabindex="0">
                                        <div class="fs-lg-9 fs-8">
                                            <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
                                                набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                            <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
                                                набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                            <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни. Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский
                                                набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни.</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="product-delivery-tab-pane" role="tabpanel" tabindex="0"></div>
                                    <div class="tab-pane fade" id="product-installation-tab-pane" role="tabpanel" tabindex="0"></div>
                                    <div class="tab-pane fade" id="product-payment-tab-pane" role="tabpanel" tabindex="0"></div>
                                </div>
                            </div>
                          
                        </div>




                        <!-- DRUGIE RESHETKI -->
                        <div class="border-lg border-lg-black rounded-lg-4 mt-lg-20 mt-28 p-lg-20">
                            <h3 class="h5 fs-lg-13 fs-11 fw-medium ls-sm text-uppercase mb-17-5">Другие решетки по схожим ценам</h3>
                            <div class="row row-cols-lg-3 row-cols-1 gy-lg-0 gy-20">
             
    
    
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'main/components/consultation_form.html' %} 
            {% include 'main/components/reasons.html' %} 
            {% include 'main/components/consultation_modal.html' %}
            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>
<script>
    function getValueById(id) {
        return document.getElementById(id).value
    }

    function changeValueById(id, value) {
        document.getElementById(id).value = value
    }

    function setOptionOnSelectById(optionId, idOfSelect) {
        changeValueById(idOfSelect, getValueById(optionId))
    }

    function changeForm() {
        let width_of_rod = getValueById("width_of_rod").match(/\d{3,}/)[0]
        let width = +getValueById("width")
        let height = +getValueById("height")
        let amount = +getValueById("amount")
        let openTypePrice = 0;

        let optionsOfOpenTypes = document.getElementsByClassName("open-type-price")
        for (let i = 0; i < optionsOfOpenTypes.length; i++) {
            if (optionsOfOpenTypes[i].checked) {
                let type = optionsOfOpenTypes[i].id.split("-")[2]
                if (type == "arch") {
                    let priceOfWidth = getValueById("width_of_rod").match(/\d{3,}/)[0]
                    openTypePrice = priceOfWidth * 1.3 - priceOfWidth
                } else if (type == "solid") {
                    openTypePrice = 0;
                } else {
                    openTypePrice = +document.getElementById("price-" + type).textContent.match(/\d{4,}/)[0]
                }
            }
        }

        let painting = getValueById("painting")
        if (painting !== "Без покраски") {
            painting = +painting.match(/\d{3,}/)[0]
        } else {
            painting = 0;
        }

        let installing = getValueById("installing")
        if (installing !== "Без установки") {
            installing = +installing.match(/\d{3,}/)[0]
        } else {
            installing = 0;
        }
        let total = amount * (width_of_rod * width * height / 10000 + openTypePrice) + installing + painting;
        document.getElementById("total").textContent = total + " руб.";
    }
    let optionsOfWidth = document.getElementsByClassName("width-option")
    let firstValueInOptions = optionsOfWidth[0].id

    setOptionOnSelectById(firstValueInOptions, "width_of_rod")
    changeValueById("width", "100")
    changeValueById("height", "100")
    changeValueById("amount", "1")
    changeForm()
</script>
{% endblock %}