{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-0 pt-16 pb-32">
    <div class="container">
        <header class="page-header mb-lg-0 mb-lg-10">
            <div>
                <div class=" d-lg-none">
                    <div class="pt-xl-7 pt-lg-4">
                        <p class="lead fs-lg-12 fs-9 mb-0" style="max-width: 28rem;">В нашем каталоге представлено 600+ эскизов решеток на окна. Возможно изготовление решеток по вашему эскизу.</p>
                        <div class="mt-3xl-31 mt-lg-24 d-lg-block d-none">
                            <div class="hstack flex-wrap gap-20">
                                <btn class="btn btn-secondary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                                <btn class="btn btn-primary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 d-lg-none d-block">
                <div class="vstack flex-wrap gap-10">
                    <btn class="btn btn-secondary  btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                    <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                </div>
            </div>



            <div class="row gy-lg-0  gy-12">
                <div class="col-lg-6">
                    <h1 class="display-1 mt-20 fs-3xl-25 fs-xl-30 fs-lg-27 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Выполненные проекты нашей компанией </h1>
                </div>
                <div class="col-lg-6">


                </div>

            </div>
        </header>
        <main>
            <section class="mb-20">
             
                <div class="row row-cols-lg-4 row-cols-2 gy-10 mt-0 mb-10">
                    {% for item in list_of_photos_done %}
        
                    {% include 'main/components/photo.html' with name=item.name %}
            
                    {% endfor %}
                </div>
               
                <div class="collapse" id="collapseExample">
                    <div class="row row-cols-lg-4 row-cols-2 gy-10">
                        {% for item in list_of_photos_done %}
            
                        {% include 'main/components/photo.html' with name=item.name %}
                
                        {% endfor %}
                    </div>
             
               
                  </div>   
                 <div class="text-center mt-lg-20 mt-10">
                    <a class="btn btn-outline-secondary btn-lg btn-wide-lg"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                                                           href="#">Показать еще </a></div>
            </section>

            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/reasons.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>
{% endblock %}