{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-20 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-0 mb-lg-10">
            <div class="row gy-lg-0  gy-12">
                <div class="col-lg-6">
                    <h1 class="display-1 pt-lg-30 fs-3xl-25 fs-xl-23 fs-lg-22 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Выполненные проекты нашей компанией </h1>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'main/img/works_baner.webp' %}"  class="d-block w-100 rounded-3" alt="Более 1000 выполненных заказов">

                </div>

            </div>
        </header>
        <main>
            <section class="mb-20">
             
                <div class="row row-cols-lg-4 row-cols-2 gy-10 mt-0 mb-10">
                    {% for item in list_of_photos_done %}
        
                    {% include 'main/components/photo.html' with name=item.name %}
            
                    {% endfor %}
                    <!-- Button trigger modal -->


                </div>
               
                <div class="collapse" id="collapseExample">
                    <div class="row row-cols-lg-4 row-cols-2 gy-10">
                        {% for item in list_of_photos_done_collapsed %}
            
                        {% include 'main/components/photo.html' with name=item.name %}
                
                        {% endfor %}
                    </div>
             
               
                  </div>   
                 <div class="text-center mt-lg-20 mt-10">
                    <a class="btn btn-outline-secondary btn-lg btn-wide-lg"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                                                           href="#">Показать еще </a></div>
            </section>

            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/reasons.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>
{% endblock %}