{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="pt-lg-20 pt-16 pb-lg-50 pb-32">
    <div class="container">
        <header class="page-header mb-lg-20 mb-28">
            <div>
                <div class=" d-none">
                    <div class="pt-xl-7 pt-lg-4">
                        <p class="lead fs-lg-12 fs-9 mb-0" style="max-width: 28rem;">В нашем каталоге представлено 600+ эскизов решеток на окна. Возможно изготовление решеток по вашему эскизу.</p>
                        <div class="mt-3xl-31 mt-lg-24 d-lg-block d-none">
                            <div class="hstack flex-wrap gap-20">
                                <btn class="btn btn-secondary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                                <btn class="btn btn-primary btn-xxl btn-wide-xxl" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20 d-none ">
                <div class="vstack flex-wrap gap-10">
                    <btn class="btn btn-secondary  btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-consultation" type="button">Консультация</btn>
                    <btn class="btn btn-primary btn-xxl w-100" data-bs-toggle="modal" data-bs-target="#modal-measurement" type="button">Вызвать на замер </btn>
                </div>
            </div>



            <div class="row gy-lg-0  gy-12">
                <div class="col-lg-6">
                    <h1 class="display-1 mt-0 mt-lg-30 fs-3xl-25 fs-xl-30 fs-lg-27 fs-13 fw-normal ls-sm text-uppercase mb-0 pe-lg-8">Более 1000+ <br> довольных клиентов </h1>
                </div>
                <div class="col-lg-6 rounded-3">
                    <img class="rounded-3 w-100" src="{% static 'main/img/sale_to_reviews.webp' %}" alt="10 процентов скидки за отзыв">

                </div>

            </div>
        </header>
        <main>
            <section>
                <section class="mb-lg-50 mb-30">
                
                    <div class="row row-cols-lg-2 row-cols-1 gy-lg-20 gy-10">

                        {% for review in list_of_reviews %}
                            {% include 'main/components/review.html' with id=review.id author_avatar=review.author_avatar project_photo=review.project_photo author=review.author description=review.description%}
                        {%endfor%}

                    </div>
                    <div class="row row-cols-lg-2  mt-0 row-cols-1 gy-lg-20 gy-10 collapse" id="collapseExample">
                        {% for review in list_of_reviews_collapsed %}
                            {% include 'main/components/review.html' with id=review.id author_avatar=review.author_avatar project_photo=review.project_photo author=review.author description=review.description%}
                        {%endfor%}
                    </div>  
                    <div class="text-center mt-lg-20 mt-10">
                        <a class="btn btn-outline-secondary btn-lg btn-wide-lg"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                        href="#">Показать еще </a>
                                                                </div>
                </section>
            </section>

            {% include 'main/components/consultation_form.html' %}

            {% include 'main/components/reasons.html' %}

            {% include 'main/components/consultation_modal.html' %}

            {% include 'main/components/measure_modal.html' %}

        </main>
    </div>
</div>
{% endblock %}