{%extends 'main/base.html' %} 
{% load static %} 
{% block content %}
<div class="pt-lg-15 pt-16 pb-lg-20 pb-32">
    <div class="container">
      <h1>Карта сайта</h1>
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        {% include 'main/components/consultation_form.html' %}

        {% include 'main/components/consultation_modal.html' %}
   
    </div> 
</div>
{% endblock %}