{% load static %}
<div class="modal modal-lg rounded-4 fade" id="alert_modal">
    <div class="modal-dialog">
        <div class="modal-content p-0">
            <div class="modal-body p-0">
                <div class="card card_border">
                    <img src="{% static 'main/img/allert_form.webp' %}"  class="card-img card_border" alt="allert_form">
                    <div class="card-img-overlay card_border">
                        <div class="row row-cols-2 px-10 h-100">
                            <div class="col"></div>
                            <div class="col bg-white rounded-3">   
                                <h4 class="fs-5 fs-lg-20 fs-xl-13 fw-medium mb-0 pt-3 pt-lg-10  text-primary mt-0 mt-lg-15 text-center">Внимание! Расчет по акции
                                    + скидка до 30% !</h4>
                                <form class=" mt-5 mt-lg-10">
                               
                                <div class="form-check text-center  pt-2 pb-2 ps-0 mb-0 mb-lg-10">
                                    <label class="form-check-label fs-5 fs-lg-15 fs-xl-8 text-muted" >Успейте закрепить скидку за номером!</label>
                                </div>
                     
                                  
                                        <input class="form-control fs-5 fs-lg-10 py-3  py-sm-5 py-lg-15 py-xl-10 py-xxl-7  text-center  mb-2 mb-lg-10"
                                               placeholder="Укажите ваш телефон" type="text" required/>
                                 
                                  
                                        <button class="btn  btn-primary fs-5 fs-lg-10 py-3  py-sm-5 py-lg-15 py-xl-10 py-xxl-7   mt-2   rounded-2 w-100 mb-2 mb-lg-10" type="submit" >Получить расчет
                                        </button>
                                 
                                   
                                        <div class="row mb-0 mb-lg-15 pt-2 pb-2 ps-0">
                                            <div class="col-2 pe-0">
                                                 <input class="form-check-input mt-10 float-end cursor-pointer fs-5 fs-lg-10 bg-primary" type="checkbox" value="" id="flexCheckChecked" checked></div>
                                            <div class="col-10">
                                                <label class="form-check-label fs-2 fs-lg-7 fs-xl-8 fs-xxl-5  text-muted" >Отправляя сведения через электронную форму, Вы даете согласие на обработку, сбор, хранение и 
                                                    передачу третьим лицам предоставленной вами информации на условиях  <a class="text-decoration-underline text-primary text-hover-secondary"  href="{%url 'privacy'%}">Политики обработки персональных данных</a> </label></div>
                                           
                                             </div>
    
                            </form>
                        </div>
    
                     
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
