{% load static %}
<div class="col">
    <div class="card card-hover card_hover_shadow border-0 rounded-lg-4 rounded-3 shadow-lg">
        <div class="card-body p-10">
            <div class="position-relative text-center ">
                <div class="position-absolute top-0 start-0 z-1">
                    <a class="text-muted text-hover-black">{% include 'main/icons/chart.html' with classes="svg-icon"%}</a>
                <span class="fs-8  ms-2 py-0 bg-success text-white px-2 rounded-2">хит</span>
            </div>
                <div class="position-absolute top-0 end-0 z-1">
                    <span class="fs-8 ms-2 py-0 bg-danger text-white   px-2 rounded-2">{{percent}}%</span>
                    <a class="text-muted text-hover-black">{% include 'main/icons/heart.html' with classes="svg-icon"%}</a>
                </div>
                <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                    <button class="btn btn-light btn-lg btn-wide-xl"
                            data-bs-toggle="modal"
                            data-bs-target="#{{path_file}}"
                            type="button">Быстрый
                        просмотр
                    </button>
                </div>
                <a href="{%url 'product' PriceWinguardSketchId %}">
                <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;"><img
                        class="object-fit-contain"
                        src="{% static 'main/img/grids_pictures' %}/{{path_folder}}/solid/{{path_file}}.png"
                        alt="Решетки на окна эконом класса"></div>
            </div></a>


                    <h3 class="card-title h5  fs-10 fw-medium  d-lg-inline-block ls-sm text-uppercase  pb-5">
                <a class="text-decoration-none text-dark d-lg-inline-block">Решетка на окно<br>сварная {{path_folder}} - {{path_file}}</a></h3>
                <div class="float-end buy_item">
             <div class="d-flex justify-content-between">
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                                    <span class="fs-9">(32)</span>
              </div>
               <a class="btn btn-outline-dark px-20 py-5 w-100 fs-9 mt-5">Купить</a>
            </div>
                <span class="d-block fs-10 text-muted fw-medium  text-decoration-line-through  text-uppercase ls-sm pb-4 ">{{saleprice}} руб</span>
                <span class="d-block fs-10 text-danger fw-medium  text-uppercase ls-sm  ">{{price}} руб</span>

            <!--MODAL-->
            {% include 'main/components/product_quick_view.html' with PriceWinguardSketchId=PriceWinguardSketchId modal_id=path_file%}
        </div>
    </div>
</div>
