{% load static %}
<div class="col">
    <div class="card card-hover card_hover_shadow border-0 rounded-lg-4 rounded-3 shadow-lg">
        <div class="card-body p-lg-14 py-10">
            <div class="position-relative text-center mb-20">
                <div class="position-absolute top-0 start-0 z-1"><a
                        class="text-muted text-hover-black" href="#">

                    {% include 'main/icons/chart.html' with classes="svg-icon"%}

                </a></div>
                <div class="position-absolute top-0 end-0 z-1"><a
                        class="text-muted text-hover-black" href="#">

                    {% include 'main/icons/heart.html' with classes="svg-icon"%}


                </a></div>
                <div class="position-absolute w-100 top-50 start-50 translate-middle opacity-0 z-1">
                    <button class="btn btn-light btn-lg btn-wide-xl" data-bs-toggle="modal"
                            data-bs-target="#product-quick-view" type="button">Быстрый
                        просмотр
                    </button>
                </div>
                <a href="{%url 'catalog-category'%}">
                <div class="ratio" style="--bs-aspect-ratio: 100%; max-height: 265px;"><img
                        class="mt-15 object-fit-contain" src="{% static 'main/img/product-card-img.png' %}"
                        alt="Решетки на окна эконом класса"></div>
            </div></a>
            <h3 class="card-title h5 fs-lg-10 fs-10 fw-medium ls-sm text-uppercase mb-0  pt-5"><a class="text-decoration-none text-dark">
                Решетки на окна эконом класса</a></h3>
                <div class="d-flex align-items-center justify-content-between mt-10">
                    <span class="d-block fs-12 text-danger fw-medium  text-uppercase ls-sm  ">от 2900 руб</span>
                    <a class="btn btn-outline-primary  rounded-pill py-3 px-10 fs-10   ">Купить</a>
                </div>
        </div>
    </div>
</div>