{% load static %}
{% load space_format_tags %}
<div class="col">
    <div class="card card-hover card_hover_shadow border-0 rounded-lg-4 rounded-3 shadow">
        <div class="card-body p-5 p-sm-10">
            <div class="position-relative text-center ">
                <div class="position-absolute top-0 start-0 z-1">
                    <span style="cursor: pointer" class="text-muted text-hover-black">{% include 'main/icons/chart.html' with classes="svg-icon"%}</span>
                    {% if stars_count > 20 %}
                        <span class="fs-5 fs-sm-6 fs-md-7 fs-lg-8  ms-2 py-0 bg-success text-white px-2 rounded-2"> хит</span>
                    {% endif  %}
            </div>
                <div class="position-absolute top-0 end-0 z-1">
                    <span class="fs-5  fs-sm-6 fs-md-7 fs-lg-8 ms-2 py-0 bg-danger text-white   px-2 rounded-2">-{{percent}}%</span>
                    <span style="cursor: pointer" class="text-muted text-hover-black">{% include 'main/icons/heart.html' with classes="svg-icon"%}</span>
                </div>
                <div class="position-absolute d-none d-lg-block w-100 top-50 start-50 translate-middle opacity-0 z-1">
                    <button class="btn btn-light  fs-4 fs-sm-5 fs-md-8 px-5 py-5 py-sm-5 px-sm-10 px-md-20 py-md-7 rounded-3 "
                            type="button"
                            id="path_folder-{{ path_folder }}-path_file-{{ path_file }}-price-{{price}}-saleprice-{{saleprice}}"
                        onclick="quickViewHandler(this.id)">Быстрый
                        просмотр
                    </button>
                </div>
                <a class="text-hover-primary" href="{%url 'product' path_folder path_file%}">
                <div class="ratio image_item mb-6"><img
                        class="object-fit-contain"
                        id="grid-picture-{{path_folder}}-{{path_file}}"
                        src="{% static 'main/img/grids_pictures' %}/{{path_folder}}/solid/{{path_file}}.webp"
                        alt="Фото решетки {{path_folder}}-{{path_file}} на окно"  title="Фото решетки {{path_folder}}-{{path_file}} на окно"></div>
            </div>
         </a>


                    <p class=" card-title h5 mb-5 mb-sm-5 mb-md-10  fs-10 fw-medium  ls-sm text-uppercase  pb-5">
                <a href="{%url 'product' path_folder path_file%}" class="text-decoration-none  text-hover-primary  pb-5 fs-6 fs-sm-10 fs-md-10 text-dark text_item d-block">Эскиз № {{path_folder}} - {{path_file}}</a></p>
                <div class="float-end buy_item">
             <div class="d-flex justify-content-between">
                 {% if stars_count > 15 %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                 {% else %}
                 {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/filled_star.html' with classes='svg-icon' styles='width:20px' %}
                {% include 'main/icons/star.html' with classes='svg-icon' styles='width:20px' %}
                 {% endif %}
                                    <span class="fs-5 fs-sm-7 fs-md-6 fs-lg-9">{{ stars_count }}</span>
              </div>
                    <btn class="btn btn-outline-dark py-3 px-3 py-sm-5 px-sm-5  py-md-9  px-md-16  px-lg-20 py-lg-5 w-100 fs-5 fs-sm-7 fs-md-8 fs-lg-10 mt-5" id="buy-button-on-{{path_folder}}-{{ path_file }}" onclick="buyViewHandler(this.id)" type="button">Купить
                            </btn>
            </div>
                <span class="d-block fs-6 fs-sm-7 fs-md-9 fs-lg-10 text-muted fw-medium  text-decoration-line-through old_price text-uppercase ls-sm pb-4 ">{{saleprice|spaced_format}} руб</span>
                <span class="d-block fs-6 fs-sm-7 fs-md-9 fs-lg-10 text-danger fw-medium  text-uppercase ls-sm  ">{{price|spaced_format}} руб</span>
        </div>
    </div>
</div>
