<section class="cta  mb-20">
    <div class="card rounded-lg-4 rounded-3">
        <div class="card-body pt-lg-34 pt-17-5 px-lg-40 pb-lg-35 pb-20">
            <h3 class="card-title fs-lg-20 fs-12 fw-normal ls-sm text-uppercase mb-lg-20 mb-14"
                style="max-width: 680px;">Не тратьте время на подбор, все сделаем за вас</h3>
            <p class="card-text lead fs-lg-12 fs-8 mb-lg-30 mb-17-5" style="max-width: 860px;">Оставьте
                заявку на бесплатную консультацию специалиста. Подберем несколько вариантов решеток,
                рассчитаем примерную стоимость</p>
            <form>
                <div class="row row-cols-lg-3 row-cols-1 gy-lg-20 gy-10">
                    <div class="col">
                        <input class="form-control form-control-xxl text-center w-100"
                               placeholder="Введите ваше имя" type="text"/>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-xxl text-center"
                               placeholder="Введите номер телефона" type="text"/>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-xxl w-100" type="submit">Получить консультацию
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>