{%load static%}
<div class="row mx-0 mt-10 text-white mb-10">
  <div class="col-6 col-sm-3 bg-primary ps-0 minibaner_item"> <img src="{% static 'main/img/mini_baner_2.webp' %}" class="w-100 "  alt="Собственное производство решеток" title="Собственное производство решеток"/></div>
  <div class="col-6 col-sm-5 bg-primary d-flex justify-content-center align-items-center minibaner_item_2"> <a href="" class=" mb-0 fs-9 text-white text-decoration-none  fs-sm-10 fs-md-12 fs-lg-17  text-uppercase">закажите <br>
    бесплатный замер</a></div>
  <div class="col-12 col-sm-4 bg-primary d-flex  justify-content-center align-items-center  minibaner_item_3"><span data-bs-toggle="modal"
                                             data-bs-target="#modal-measurement" class="btn border-0  px-3 px-sm-10 w-100 mb-1 mt-sm-0   btn-white fs-8 fs-sm-7 fs-lg-10 py-5 py-sm-10  text-dark text-hover-white  text-uppercase  btn-xxl  " >Вызвать замерщика</span></div>
</div>