{%load static%}
<div class="row mx-0 mt-10 text-white mb-10">
  <div class="col-6 col-sm-3  ps-0 minibaner_item_4 minibaner_item_color"> <img src="{% static 'main/img/mini_baner_1.webp' %}" class="w-100 "  alt="Собственное производство решеток"/></div>
  <div class="col-6 col-sm-5  d-flex justify-content-center align-items-center minibaner_item_5 minibaner_item_color"> <a href="" class=" mb-0 fs-8 text-white text-decoration-none  fs-sm-10 fs-md-12 fs-lg-17  text-uppercase">не нашли<br>
    нужный вариант? </a></div>
  <div class="col-6 col-sm-4  d-flex  justify-content-center align-items-center minibaner_item_6 minibaner_item_color"><a href="#" class="btn border-0  px-3 px-sm-10 w-100 mb-1 mt-sm-0   btn-white fs-7 fs-sm-7 fs-lg-12 py-5 py-sm-10  text-hover-white  btn-xxl  " href="/металлические-решетки-на-окна">Изготовим по Вашим
                                              эскизам и размерам</a></div>
</div>