<section class='{{ classes }}'>
    <div class="row mb-lg-32 mb-17">
        <div class="col-lg-5">
            <h2 class="h1 fs-3xl-22 fs-lg-26 fs-13 ls-sm text-uppercase mb-0">Почему именно наша
                компания</h2>
        </div>
        <div class="col-auto ms-auto d-lg-block d-none d-xxl-none">
            <div class="d-flex">
                <div class="d-flex gap-10 mt-auto" id="features-swiper-control">
                    <button class="btn btn-outline-secondary btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                            type="button" style="width: 3rem; height: 3rem;"><-
                    </button>
                    <button class="btn btn-outline-secondary btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                            type="button" style="width: 3rem; height: 3rem;">->
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper" id="reasons-swiper" data-control="#reasons-swiper-control">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body p-10">

                        {% include 'main/icons/reasons/tape-measure.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title  fs-10 fw-normal text-uppercase mb-0">По вашим размерам</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body p-10">

                        {% include 'main/icons/reasons/album.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}
                        <h5 class="card-title  fs-10 fw-normal text-uppercase mb-0">Готовые эскизы решеток </h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">615 вариантов металлических решеток на окна, двери и балкон
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body p-10">

                        {% include 'main/icons/reasons/years.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title pt-xxl-17 pt-xl-8 pt-17 fs-10 fw-normal text-uppercase mb-0">Гарантия <br> 5 лет</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Заключаем договор с фиксированной ценой, сроками изготовления и монтажа
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body p-10">

                        {% include 'main/icons/reasons/gear.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}


                        <h5 class="card-title  fs-10 fw-normal text-uppercase mb-0">Сварщики и кузнецы</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">С профильным образованием ежедневно изготавливают 57 разных видов изделий</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body p-10">


                        {% include 'main/icons/reasons/garanty.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title pt-xxl-17 pt-xl-8 fs-10 fw-normal text-uppercase mb-0">50 лет <br>службы
                        </h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Благодаря контролю качества и краски с антикоррозийным напылением 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-lg-none d-flex mt-10">
        <div class="d-flex gap-10 mt-auto" id="reasons-swiper-control">
            <button class="btn btn-outline-secondary btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                    type="button" style="width: 3rem; height: 3rem;"><-
            </button>
            <button class="btn btn-outline-secondary btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                    type="button" style="width: 3rem; height: 3rem;">->
            </button>
        </div>
    </div>
</section>