<section class='{{ classes }}'>
    <div class="row mb-lg-32 mb-17">
        <div class="col-lg-5">
            <h2 class="h1 fs-3xl-28 fs-lg-26 fs-13 ls-sm text-uppercase mb-0">Почему именно наша
                компания</h2>
        </div>
        <div class="col-auto ms-auto d-lg-block d-none">
            <div class="d-flex">
                <div class="d-flex gap-10 mt-auto" id="features-swiper-control">
                    <button class="btn btn-outline-secondary btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                            type="button" style="width: 3rem; height: 3rem;"><-
                    </button>
                    <button class="btn btn-outline-secondary btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                            type="button" style="width: 3rem; height: 3rem;">->
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper" id="features-swiper" data-control="#features-swiper-control">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/tape-measure.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Изготовление по
                            вашим размерам!</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Все решетки на окна
                            изготавливаются по размерам оконного проема с учетом ваших пожеланий</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/album.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Огромный каталог
                            эскизов</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">В нашем каталоге представлено
                            более 600 эскизов решеток на окна. Возможно изготовление решеток по вашему
                            эскизу</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/tape-measure.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Большой выбор
                            вариантов покраса</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Окрашиваем оконные решетки:
                            Эмалями НЦ-132, ХВ-0278, NOVAX, Hammerite, порошковое напыление</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/album.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Профессионализм
                            сотрудников</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Все наши сотрудники имеют опыт
                            работы более 5 лет в сфере производства и установки металлоконструкций</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/album.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Профессионализм
                            сотрудников</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Все наши сотрудники имеют опыт
                            работы более 5 лет в сфере производства и установки металлоконструкций</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="card h-100 rounded-lg-5 rounded-3">
                    <div class="card-body pt-20 pb-lg-28 pb-22">

                        {% include 'main/icons/album.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}

                        <h5 class="card-title fs-lg-12 fs-10 fw-normal text-uppercase mb-0">Профессионализм
                            сотрудников</h5>
                        <p class="card-text fs-lg-8 fs-7 text-muted mt-12">Все наши сотрудники имеют опыт
                            работы более 5 лет в сфере производства и установки металлоконструкций </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-lg-none d-flex mt-10">
        <div class="d-flex gap-10 mt-auto" id="features-swiper-control">
            <button class="btn btn-outline-secondary btn-swiper-prev rounded-circle d-flex justify-content-center align-items-center p-0"
                    type="button" style="width: 3rem; height: 3rem;"><-
            </button>
            <button class="btn btn-outline-secondary btn-swiper-next rounded-circle d-flex justify-content-center align-items-center p-0"
                    type="button" style="width: 3rem; height: 3rem;">->
            </button>
        </div>
    </div>
</section>