{% load static %}
<div class="col">
  <div class="card h-100 rounded-lg-4 rounded-3">
    <div class="card-body p-lg-15 pt-10 pb-lg-28">
      <div class="d-flex flex-wrap align-items-center gap-10 mb-lg-7 mb-10">
        <div class="avatar"><img class="rounded-3" src="{% static 'main/img/avatars/' %}{{author_avatar}}"
                                 alt="{{author}}"/>
        </div>
        <div class="text-uppercase flex-grow-lg-0 flex-grow-1">
          <h6 class="fs-8 mb-2">{{author}}</h6>
        </div>
        <a class="btn btn-outline-black btn-lg btn-wide-lg w-lg-auto w-100 ms-lg-auto"
           href="#" data-bs-toggle="modal" data-bs-target="#exampleModal{{id}}">Смотреть фото</a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content ">
              <div class="modal-body p-5">
                <button type="button" class=" position-absolute  btn_close rounded-2 " aria-label="Close" data-bs-dismiss="modal">
                  {% include 'main/icons/btn_close.html' with classes="svg-icon"%}
                </button>
                <img class="rounded-3 object-fit-contain w-100" src="{% static 'main/img/reviews_photos/'%}{{project_photo}}"
                     alt="Иван Семенович Г." />
                <a><button type="button" class="btn btn-secondary w-100 mt-5 rounded-2 text-uppercase" data-bs-dismiss="modal" id="photo-{{project_photo}}" onclick="goToProduct(this.id)"> Перейти в карточку товара</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="fs-lg-10 fs-8 fw-light mb-0">{{description}}
      </p>
    </div>
  </div>
</div>