{% load static %}
<div class="col">
  <div class="card border-top-0">
    <img src="{% static image_path%}" class="card-img-top" alt="sale_baner3" title="sale_baner3">
    <div class="card-body">
      <p class="card-title fs-8 fw-medium fs-lg-10">{{description}}</p>
      <p class="card-text text-muted fs-7 fs-lg-8">Подробнее об условиях и акциях уточняйте по телефону:<br>
        <a class="text-muted text-hover-light" href="tel:84953745364">+7 495 374-53-64</a></p>
      <button data-bs-toggle="modal"
                 data-bs-target="#modal-measurement" class="btn fs-7 fs-lg-8 btn-primary rounded-3">Замер по акции</button>
    </div>
  </div>
</div>