{% load static %}
<section class="mb-20">
    <h4>Заказать установку решеток </h4>
    <p>Работы выполняют производители, частные бригады и отдельные фирмы. В компании «Сварник» можно купить типовую решетку, выбрав размер, профиль.
         Для определения совместимости ограждения с проемом стоит вызвать мастера для проведения замеров и осмотра откосов. 
         Для установки может потребоваться демонтаж облицовки, сборка нестандартной конструкции, 
        поиск усиленного крепежа. </p>
    <div class="row row-cols-xl-4 row-cols-lg-4 row-cols-2 gy-lg-15 gy-5 ">
      <div class="col">
        <div class="card d-flex align-items-center h-100 rounded-lg-5 rounded-2">
            <div class="card-body p-10">
                    {% include 'main/icons/steps/call.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}
                <h5 class="card-title fs-5 fs-sm-8 fw-normal text-uppercase mb-0">Вызов </h5>
                <p class="card-text fs-lg-8 fs-5 fs-sm-7 text-muted mt-12">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 rounded-lg-5 rounded-1">
            <div class="card-body p-10">
                    {% include 'main/icons/steps/tape-measure.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}
                <h5 class="card-title fs-5 fs-sm-8 fw-normal text-uppercase mb-0">Бесплатный замер </h5>
                <p class="card-text fs-lg-8 fs-5 fs-sm-7 text-muted mt-12">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 rounded-lg-5 rounded-1">
            <div class="card-body p-10">
                    {% include 'main/icons/steps/produce.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}
                <h5 class="card-title fs-5 fs-sm-8 fw-normal text-uppercase mb-0">Производство </h5>
                <p class="card-text fs-lg-8 fs-5 fs-sm-7 text-muted mt-12">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 rounded-lg-5 rounded-1">
            <div class="card-body p-10">
                    {% include 'main/icons/steps/delivery.html' with classes='svg-icon w-auto mb-17-5' styles='height: 3rem;' %}
                <h5 class="card-title fs-5 fs-sm-8 fw-normal text-uppercase mb-0">Доставка и монтаж </h5>
                <p class="card-text fs-lg-8 fs-5 fs-sm-7 text-muted mt-12">Учитываем оконные проемы, безопасность и воплощаем любой дизайн в жизнь</p>
            </div>
        </div>
    </div>
 
      </div>
   
           
</section>