/* CUSTOM CLASSES */

@media (min-width: 1800px) {
    .container-3xl,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1470px;
    }
}

.button-close {
    margin-right: -15px;
    margin-top: -10px;
}

/* BTN_CATALOG */
.baner_overlay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.btn_catalog{
    color: white;
    width: 35%;
}

/* NAZNACHENIE RESHETOK */
.object-fit-minicontent{
    width: 60%;
}
/* LIDERI PRODAZH */

.card_hover_shadow:hover {
    opacity: 1 !important;
    cursor: pointer !important;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(28, 27, 44, 0.562) !important;
    -moz-box-shadow: 2px 2px 30px 0px rgba(33, 31, 48, 0.507) !important;
    box-shadow: 2px 2px 30px 0px rgba(19, 19, 27, 0.555) !important;
}

/*LEFT SIDEBAR*/
.left_sidebar{
    position: sticky ;
    top: 130px;
}




.star:hover{
 color: red;
 fill:red;
}

/* TABS */

.sort {
    color: #f5320e;
}

.sort:hover {
    color: #b52810;
}

/* TABLE */
.table th,.table td{
    padding:10px;
    }

.compare_items{
    position: relative;
    vertical-align: top;
    top:80px;
}

/* DROPDOWN */

.dropdown-wrapper {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.dropdown-wrapper:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 3px;
    border-width: 10px 10px 0 10px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    transform: rotate(-135deg);
}

.dropdown-wrapper.is-active {
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    border-bottom: none;
}

.dropdown-wrapper.is-active:after {
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.dropdown-wrapper.is-active .dropdown-list {
    border-bottom: 1px solid rgba(45, 44, 44, 0.2);
    max-height: 400px;
}

.dropdown-list {
    /* Size & position */
    top: 100%;
    left: 0;
    right: 0;
    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.087);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
    padding-left: 0;
}

.dropdown-list li:last-of-type a {
    border: none;
}

.dropdown-list a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
}

/* SALE ARRROW ROTATE */
.text-center.fs-9.fs-md-9.sort.w-100.rounded-2.active > svg{
    transform:rotate(180deg);
  }
  
/* CAROUSEL */


.swiper_container {
    padding: 25px;
}

.buy_item{
    position: relative;
    margin-top: -20px;
}



/* MEDIA QUERIES */

@media (max-width: 992px) {
     /* BTN_CATALOG */
.btn_catalog{
    display: none;
}
}


@media (max-width: 768px) {


           /*  POCHEMY NASHA KOMPANIYA */
           .pluses_company {
            display: none;
             }
    
    /* SVG-icons */
.svg_heart{
    left: 95% !important;
    z-index: 20 !important;
}

.svg_chart{
    left: -90% !important;
    z-index: 20 !important;
}

/* NAZNACHENIE RESHETOK */
.object-fit-minicontent{
    width: 100%;
}

}


@media (max-width: 575px) {
 /*    .btn_catalog{
        display: block;
        width: 100%;
        margin-top: 17%;
        
        border: 1px solid black;
        color: black;
    } */
    .bi-caret-left-fill {
        margin-right: 0px;
        width: 120%;
         }
       
         .bi-caret-right-fill {
            margin-left: 0px;
          
            }
  }
